<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAG4tWx7kUqZymglhMc6mRstD_RXXTEeMY"></script>
<script src="https://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>

<div class="container-fluid">
  <% if @listing.errors.any? %>
  <h4>The following errors prevented the listing from saving:</h4>
  <ul>
  <% @listing.errors.full_messages.each do |message|%>
  <li><%= message%></li>
  <% end %>
  </ul>
  <% end %>

  <%= form_for @listing do |f| %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder:"eg. Canon XF205" , class: 'form-control'%>
  </p>
  <p>
    <%= f.label :category %>
    <%= f.select :category, ["Film & Photography","Audio Visual Equipment","Projectors & Screens","Drones","DJ Equipment","Transport","Storage","Electronics","Party & Events","Sports","Musical Instruments","Home / Office / Garden","Kids & Baby","Holiday & Travel","Clothing"] , class: 'form-control'%>
  </p>
  <p>
    <%= f.label :description%>
    <%= f.text_area :description, placeholder:"eg. Shooting beautiful shots on film is made simple with the auto mode, but you're able to also switch that off and shoot in full manual! ", class: 'form-control'%>
  </p>
<!--
  <p>
    <%= f.label :price_per_day%>
    <%= f.number_field :price_per_day, placeholder:"eg. $20", class: 'form-control'%>
  </p>
-->
  <p>
    <%= f.label :address, "Meetup Address: " %>
    <%= f.text_field :address,placeholder:"eg. 25 St George St", class: 'form-control'%>
  </p>
  <p>
    <%= f.label :start_lending%>
    <%= f.date_select :start_lending, class: 'form-control'%>
  </p>
  <p>
    <%= f.label :end_lending%>
    <%= f.date_select :end_lending, class: 'form-control'%>
  </p>
  <p>
    <%= f.label :image %>
    <%= f.file_field :images, multiple: true , class: 'form-control'%>
  </p>
  <p>
    <%= f.submit 'Create Listing', :class => "btn btn-primary"%>
  </p>
  <% end %>
  <%= link_to 'Back', listings_path %>
</div>


<script>

$(function(){
  $("#listing_address").geocomplete()
    .bind("geocode:result", function(event, result){
      $.log("Result: " + result.formatted_address);
    })
    .bind("geocode:error", function(event, status){
      $.log("ERROR: " + status);
    })
    .bind("geocode:multiple", function(event, results){
            $.log("Multiple: " + results.length + " results found");
          });

        $("#find").click(function(){
          $("#listing_address").trigger("geocode");
        });


        $("#examples a").click(function(){
          $("#listing_address").val($(this).text()).trigger("geocode");
          return false;
        });

      });
</script>
