<div class="col-md-4">
  <div class="card mx-2 mb-2">
      <% (0...listing.images.count).each do |image| %>
        <%= image_tag(listing.thumbnail(image), :class => "card-img-top")%>
      <% end %>
    <div class="card-body">
      <h5 class="card-title">
        Title: <%= listing.title %>
      </h5>
      <p class="card-text">Description: <%= listing.description %></p>
      <p class="card-text"><%= link_to "View Listing", listing_path(listing), class:"card-link" %></p>
      <p class="card-text"><%= link_to 'Delete', listing_path(listing), method: :delete, data: {confirm: "Are you sure?"}, class:'card-link' %></p>
    </div>
  </div>
</div>