<div class="col-md-4">
  <div class="card mx-2 mb-2">
      <% (0...listing.images.count).each do |image| %>
        <%= image_tag(listing.thumbnail(image), :class => "card-img-top")%>
      <% end %>
    <div class="card-body">
        <h5 class="card-title">
          <%= listing.title %>
        </h5>
      <p class="card-text listing-card-text">Description: <%= listing.description %></p>
      <!-- Added this div to make buttons appear in the same row-->
      <div class="d-flex flex-row">
        <%= button_to "View Listing", listing_path(listing), class:"card-link btn btn-primary mr-3", :method => :get %>
          <%if is_listing_owner_with_params(listing.id)%>
            <%= button_to 'Delete', listing_path(listing), method: :delete, data: {confirm: "Are you sure?"}, class:'card-link btn btn-danger' %>
          <%end%>
      </div>
      <span class="badge badge-pill float-right mt-2"><%= listing.category %> </span>
    </div>
  </div>
</div>