<div class="col-md-4">
  <div class="card mx-2 mb-2">
    <div id="carouselExampleFade" data-interval="2000" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <% (0...listing.images.count).each.with_index do |image, index| %>
            <% if index == 0 %>
              <div class="carousel-item active">
                <%= image_tag(listing.thumbnail(image), :class => " d-block w-100 card-img-top")%>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= image_tag(listing.thumbnail(image), :class => " d-block w-100 card-img-top")%>
              </div>
            <%end%>
          <% end %>
      </div>
      <% if listing.images.count > 1 %>
        <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      <% end %>
    </div>
    <div class="card-body">
        <h5 class="card-title">
          <%= listing.title %>
        </h5>
      <p class="card-text listing-card-text">Description: <%= listing.description %></p>
      <!-- Added this div to make buttons appear in the same row-->
      <div class="d-flex flex-row">
        <%= button_to "View Listing", listing_path(listing),id:"#{listing.title.parameterize.underscore}",class:"card-link btn btn-primary mr-3", :method => :get %>
          <%if is_listing_owner_with_params(listing.id)%>
            <%= button_to 'Delete', listing_path(listing), method: :delete, data: {confirm: "Are you sure?"}, class:'card-link btn btn-danger' %>
          <%end%>
      </div>
      <span class="badge badge-pill float-right mt-2"><%= listing.category %> </span>
    </div>
  </div>
</div>