<br><br>
<div class="col-md-6 col-md-offset-3">
	<h4>Search for listings (by title or description)</h4>
	<%= form_tag(listings_path, method: :get) do %>
	  <%= label_tag :keyword%>:
	  <%= text_field_tag :search_listings, params[:search_listings]%>
	  <%= submit_tag 'Search' , search_listings: nil, class: "btn btn-primary"%>
	<% end %>
</div><br>

<% if params[:search_listings] and params[:search_listings] != "" %>
	<% if @listings_found.count > 0 %>
		<h4> Found <%= @listings_found.count %> listing(s) containing "<%= params[:search_listings] %>"! </h4>
		<%= render @listings_found %> <br>
	<% else %>
		<p> No listings found for "<%= params[:search_listings] %>" </p>
	<% end %>
<% end %>


<h1>Listing all Listings</h1>
<p>
<%= link_to "Create new listing", new_listing_path %>
</p>
<table>
 <tr>
  <th>Title</th>
  <th>Description</th>
 </tr>
 <% @listings.each do |listing| %>
 <tr>
  <td><%= listing.title %></td>
  <td><%= listing.description %></td>
  <td><%= listing.user.name %></td>
  <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
  <td><%= link_to 'Show', listing_path(listing) %></td>
  <td><%= link_to 'Delete', listing_path(listing), method: :delete, data: {confirm: "Are you sure?"} %></td>
 </tr>
 <% end %>
</table>
