<div class="container-fluid">
    <!-- Top Toolbar -->
    <div class="row">
        <div class="col-md-12 mt-2">
            <%= form_with url: search_listings_path, local: true, method: :get, html: {class: "form-inline float-right"} do |form| %>
                <%= form.text_field :listings_q, placeholder: "Search for a listing..", data: { behaviour: "autocomplete_listings" }, class: "form-control" %>
                <%= form.button "Search", class: "btn btn-outline-success" %>
            <% end %>
        </div>
    </div>
    <%= link_to "Create new listing", new_listing_path, class: "btn btn-outline-info mr-2" %>



    <%= form_tag listings_path, :method => 'get' do %>  
        <%= select_tag :filter,
            options_for_select(["All", "Film & Photography","Audio Visual Equipment","Projectors & Screens","Drones","DJ Equipment","Transport","Storage","Electronics","Party & Events","Sports","Musical Instruments","Home / Office / Garden","Kids & Baby","Holiday & Travel","Clothing"])%>
         <%= submit_tag 'Filter' %>       
    <% end %>


    <div class="row mt-4">
        <% @listings.each do |listing| %>
            <%= render listing %>
        <%end %>
    </div>
</div >

 <!-- data: {
                remote: true,
                url: '/listings',
                method: 'get'
                } -->