<div class="container-fluid">
<% if logged_in? %>
	<h1>Listings Search Results</h1>
	<% if params[:listings_q] and params[:listings_q] != "" %>
		<% if @listings_found.count > 0 %>
			<h4> Found <%= @listings_found.count %> listing(s) containing "<%= params[:listings_q] %>": </h4>
			<%= render @listings_found %> <br>
		<% else %>
			<div class="col-md-12">
					<div class="card d-flex p-5 mb-5">
							<div class="card-text p-5 d-flex justify-content-center align-items-center text-secondary">
								Didn't find any mathing listings 
							<h5 class="modal-title font-weight-bold">Be the first one to request this item. </h5>
							<h5 class="modal-title font-weight-bold"><%= link_to "Request "+params[:listings_q], new_live_search_path, class:'btn btn-outline-info h-25 ml-4 mt-2' %></h5>
						</div>
					</div>
			</div>
			<!-- <h3> No listings found for "<%= params[:listings_q] %>" </h3>
			<%= link_to 'Request this item!', new_live_search_path %> -->
		<% end %>
	<% end %>
	</div>
<% else %>
		<!-- Modal -->
		<div class="modal fade" id="makeSureYouSignUpModal" tabindex="-1" role="dialog" aria-labelledby="makeSureYouSignUpModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title font-weight-bold" id="makeSureYouSignUpModalLabel" style="color:purple!important;">Sign up to see Listings</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body font-weight-bold">
					Nice! You've already started searching for listings, sign up!
					</div>
					<div class="modal-footer">
					    <%= link_to "Home", root_path ,id:"signupHomeButton",class: "btn btn-outline-primary" %>
					</div>
				</div>
			</div>
		</div>

		<script>
		     $('#makeSureYouSignUpModal').modal('show');
		</script>

<% end%>
