<div class="container-fluid">
<% if logged_in? %>
	<h1>Listings Search Results</h1>
	<% if params[:listings_q] and params[:listings_q] != "" %>
		<% if @listings_found.count > 0 %>
			<h4> Found <%= @listings_found.count %> listing(s) containing "<%= params[:listings_q] %>": </h4>
			<%= render @listings_found %> <br>
		<% else %>
			<h3> No listings found for "<%= params[:listings_q] %>" </h3>
			<%= link_to 'Request this item!', new_live_search_path %>
		<% end %>
	<% end %>
	</div>
<% else %>
	<h1>Please log in to view the listings</h1>
<% end%>	
