<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG4tWx7kUqZymglhMc6mRstD_RXXTEeMY"></script>
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5">
        <div class="card mt-4">
              <!-- Listing Image Carousel  -->
              <div id="carouselExampleFade" data-interval="2000" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% (0...@listing.images.count).each.with_index do |image, index| %>
                      <% if index == 0 %>
                        <div class="carousel-item active">
                          <%= image_tag(@listing.thumbnail(image), :class => " d-block w-100 card-img-top", :style=>"object-fit:contain;")%>
                        </div>
                      <% else %>
                        <div class="carousel-item">
                          <%= image_tag(@listing.thumbnail(image), :class => " d-block w-100 card-img-top", :style=>"object-fit:contain;")%>
                        </div>
                      <%end%>
                    <% end %>
                </div>
                <% if @listing.images.count > 1%>
                  <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                <% end %>
              </div>
            <!-- Listing rating -->
            <div class="card-body pb-3">
                <p class="card-text"> Average Rating:</p>
                <p class="card-text">
                  <% if get_rounded_rating == 0 %>
                      <p class="card-text"> No ratings yet </p>
                  <% else %>
                    <% for i in 1..get_rounded_rating do %>
                      <i class="material-icons" style="color:#f2a900!important;">
                      grade
                      </i>
                    <%end%>
                  <% end %>
                </p>
              </div>
          </div>
          <!--  For adding a review -->
          <%if !is_listing_owner %>
            <div class="card mt-2">
              <div class="card-header">Review this Item:</div>
              <div class="card text p-3">
              <%= form_for [@listing, Comment.new], class:"form-control" do |f| %>
                    <%= f.text_area :body, placeholder: "Add a comment", class:'form-group' %><br/>
                    <%= f.number_field :rating, placeholder: "Add rating" %><br/>
                    <%= f.submit "Add Comment", class:'btn btn-outline-info mt-2' %>
                  <% end %>
              </div>
            </div>
          <%end%>
        <!-- Showing existing comments on the post  -->
        <%= render(partial: 'comments/comment', collection: @listing.comments) %>
      </div>

      <!-- Second Half of the listing show page -->
      <div class="col-lg-6 justify-content-center">
      <!-- Responsive way to center the title of the listing -->
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
              <h1 class="font-weight-bold mt-5 ml-5 p-3"><%= @listing.title %> </h1>
            </div>
            <div class="col-md-2">
               <span class="badge badge-pill mt-5"><%= @listing.category %> </span>
            </div>
        </div>
          <h4 class="my-3 ml-3 font-weight-bold text-secondary"> <%= @listing.description %> </h4>
          <%if not_listing_owner  && has_user_already_requested_to_borrow_listing%>
              <div class="card align-items-center mt-4">
                <div class="card-body">
                    <p class="mt-3 mb-4 font-weight-bold" style="color:#9a00bc;">When do you want this?</p>
                    <div id='listing_start_date' style="display: none"><%if @listing %><%= @listing.start_lending%><%else%><%="N/A"%><%end%></div>
                    <div id='listing_end_date' style="display: none"><%if @listing %><%= @listing.end_lending%><%else%><%="N/A"%><%end%></div>
                      <%= form_for(:borrow_request, class: "form-control", url: create_borrow_request_path(@listing), method: :get) do |form| %>
                      <%= form.text_field :date_range, class: "daterange", data:{ behavior: 'daterangepicker' } %>
                      <br />
                      <%= submit_tag "Request Item", class: 'btn db-browse-btn ml-4 mt-4 font-weight-bold', style:"color:white!important;" %>
                      <% end %>
                </div>
              </div>
          <%end%>
        <div class="row justify-content-center">
          <% if @listing.user_id == current_user.id %>
              <%= button_to "Edit", edit_listing_path(@listing), class: 'btn btn-outline-info', :method => :get%>
         <%end%>
        </div>
        <div class="row justify-content-center">
          <h5 class="mt-3 font-weight-bold"> Who's lending this out? </h5>
        </div>
        <div class="row justify-content-center">
              <h5 class="mt-3 font-weight-bold"> <%= @listing.user.name %> </h5>
        </div>
         <div class="d-flex flex-row ml-3 mb-3 justify-content-center">
                <h6 class="font-weight-bold text-secondary mb-3">Rating:</h6>
                <h6 class="ml-3 font-weight-bold">
                    <% if get_rounded_user_rating(@listing.user_id) == 0 %>
                        <p class="card-text"> No ratings yet </p>
                    <% else %>
                        <% for i in 1..get_rounded_user_rating(@listing.user_id) do %>
                        <i class="material-icons" style="color:#f2a900!important;">
                        grade
                        </i>
                        <%end%>
                    <% end %>
                 </h6>

        </div>
        <div class="row justify-content-center">
         <button type="button" class="btn db-create-btn font-weight-bold ml-3 my-2" style="color:white!important;" data-toggle="modal" data-target="#listingUserReviewsModal">
                    See <%= @listing.user.name%>'s Reviews
                </button>
        </div>

        <div class="row justify-content-center">
              <%if @listing.user.person.image.attachment != nil and @listing.user.person.image.content_type.in?(%('image/jpeg image/png')) %>
                <%= image_tag(@listing.user.thumbnail, :class => "img-thumbnail rounded-circle")%>
              <% else %>
                <%= image_tag("empty-user-icon.png", :class => "user-icon rounded") %>
              <%end%>
        </div>

        <div class="row justify-content-center">
              <%= button_to "View Profile", user_path(@listing.user),params: {active_tab: "dashboardTab"}, class:"btn btn-primary", :method => :get %>
        </div>

        <div id='user-lat' style="display: none"><%if @listing %><%= @listing.latitude%><%else%><%="N/A"%><%end%></div>
        <div id='user-long' style="display: none"><%if @listing %><%= @listing.longitude%><%else%><%="N/A"%><%end%></div>
        <%if @listing.latitude and @listing.longitude and @listing.address %> <!-- If listing location is valid-->
          <br><p class="card-text"> Meetup Location:<br><%= @listing.address %></p>
          <div id="user_map"></div>
        <% end %>

        <div class="row justify-content-center">
          <% if !is_listing_owner%>
                <%= link_to "Report this listing", report_listing_path(@listing), class: 'btn btn-danger btn-outline-info mt-2', data: {toggle:"tooltip", placement:"right", title:"Report this listing if you find inappropriate, offensive, or irrelevant content. Our admin will then review the listing and take further action."}%>
          <%end%>
        </div>
      </div>

     </div>
   </div>


</div>

<style>
  #user_map {
    width: 100%;
    height: 200px;
  }
</style>

<script>
  var latitude = document.getElementById("user-lat").innerHTML;
  var longitude = document.getElementById("user-long").innerHTML;

  if (latitude == "N/A" || longitude == "N/A")
  {
    alert("Refresh the page to update your location again!");
  }
  else
  {
    var map = new GMaps({
      div: '#user_map',
      lat: latitude,
      lng: longitude
    });

    map.addMarker({
        lat: latitude,
        lng: longitude,
        title: 'My Location',
        click: function(e) {
          alert('My location is at [' + latitude + ', '+longitude+']');
        }
    });
  }
</script>

<script>

$(function(){
  var start_lending = document.getElementById("listing_start_date").innerHTML.split(' ')[0];
  var end_lending = document.getElementById("listing_end_date").innerHTML.split(' ')[0];
  // console.log(start_lending, end_lending)
  // For some reason when i do -1 it shows up all of the dates
  $('[data-behavior=daterangepicker]').daterangepicker({
    // startDate: start_lending,
    // minDate: start_lending,
    endDate: end_lending,
    maxDate: end_lending,
    locale: { format: 'YYYY/MM/DD'},
    cancelLabel: 'Clear'
  });

  // $('[data-behavior=daterangepicker]').on('cancel.daterangepicker', function(){
  //   $(this).val(' ');
  // });

});
</script>



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-body">
                 You've sucessfuly requested this item? What next?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
        </div>



<div class="modal fade" id="listingUserReviewsModal" tabindex="-1" role="dialog" aria-labelledby="listingUserReviewsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="listingUserReviewsModalLabel"><%= @user.name%>'s Reviews</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y:scroll;">
        <%if @user.person.comments.count == 0%>
        No reviews yet
        <%else %>
            <ul>
                <%= render(partial: 'comments/comment', collection: @user.person.comments) %>
            </ul>
        <%end%>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
