<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mt-3">
         <h1><%= @listing.title %></h1>
         <span class="badge badge-pill mb-2"><%= @listing.category %> </span> <br />
            <% if is_listing_owner %>
               <%= link_to "Edit", edit_listing_path(@listing), class: 'btn btn-outline-info'%>
            <% end %>
            <%if not_listing_owner%>
               <%= link_to "Request Item", borrow_requests_path(@listing), class: 'btn btn-outline-info mt-2'%>
            <%end%>
          
      </div>
      <div class="col-lg-9 mb-5">
        <div class="card mt-4">
            <% (0...@listing.images.count).each do |image| %>
              <%= image_tag(@listing.thumbnail(image), :class => "card-img-top")%>
            <% end %>
            <div class="card-body pb-3">
              <h3 class="card-title"><%= @listing.title %></h3>
              <p class="card-text"><%= @listing.description %></p>
              <!-- TODO: once rating has been implemented, put this code into a helper 
              view to generate the number of stars for the product rating-->
              <p class="card-text">Rating:</p> 
              <i class="material-icons">
              grade
              </i>
               <i class="material-icons">
              grade
              </i>
               <i class="material-icons">
              grade
              </i>
               <i class="material-icons">
              grade
              </i>
            </div>
        </div>
       <!-- Reviews go here, for now added stock reviews for UX Purposes -->
        <div class="card mt-4">
            <div class="card-header">
              Reviews
            </div>
            <%= form_for [@listing, Comment.new] do |f| %>
            <%= f.text_area :body, placeholder: "Add a comment" %><br/>
            <%= f.number_field :rating, placeholder: "Add rating" %><br/>
            <%= f.submit "Add Comment" %>
            <% end %>
            <ul>
            <%= render(partial: 'comments/comment', collection: @listing.comments) %>
            </ul>

            <%# <div class="card-body border-bottom">
              <h5 class="card-title">First Review</h5>
              <p class="card-text">Loved it so much! great product..</p>
            </div>
            <div class="card-body">
              <h5 class="card-title">Second Review</h5>
              <p class="card-text">I hated this thing so much. it was the worst thing to ever have been created. 
                                   An abomination of nature itself!</p>
            </div> %>
        </div>
      </div> 
     </div>

   </div>
</div>


