<h1> Showing your listing </h1>
<p>
  Title: <%= @listing.title %><br>
  Description: <%= @listing.description %><br>
  Category: <%= @listing.category %><br>
  Price Per Day: <%= @listing.price_per_day %><br>
  Start Lending Date: <%= @listing.start_lending %><br>
  End Lending Date: <%= @listing.end_lending %>
</p>
<%= link_to "Edit", edit_listing_path(@listing) %>
<%= link_to 'Back', listings_path %>
