<%= link_to "Go back to users", users_path %><br/>
<small>Submitted <%= time_ago_in_words(@person.created_at) %> ago</small>

<h3>Comments</h3>
<%# 
Use form_for %>
<%= form_for [@person, Comment.new] do |f| %> 
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.number_field :rating, placeholder: "Add rating" %><br/>
<%= f.submit "Add Comment" %>
<% end %>

<ul>
  <%= render(partial: 'comments/comment', collection: @person.comments) %>
</ul>
