<div class="container-fluid">
	<div class="row">	
		<div class="col-md-12 p-3">
			<ul class="nav nav-tabs nav-justified">
				<li class="nav-item">
					<%= link_to 'Update Your Basic Information', edit_user_path(@user), class:'nav-link'%> 
				</li>
				<li class="nav-item">
					<%= link_to 'Change Password', new_user_password_change_path(@user), class: 'nav-link'%> 
				</li>
				<li class="nav-item">
					<%= link_to 'Deactivate Account' , user_setting_path(@user.id,0),method: :delete, 
					data: {confirm: "We are sad to see you leave :( Are you sure you want to delete your account? This will delete all of your information from our database. ) "  },
					class:"nav-link"%>
				</li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 pb-5">
			<%# editting part %>
			<div class="setting-item">
				<% provide(:title, "Change your password") %>
				<div class="row ml-1">
					<div class="offset-md-5">
						<h5> Modify Password </h5>
					</div>
				</div>
				<div class="row ml-1">
					<%= render 'shared/error_messages' %>
				</div>
				<div class="row ml-1">
					<div class="col-md-6 col-xs-12 offset-md-3">
						<%= form_for(:password_changes, url: user_password_changes_path) do |f| %>
							<%= f.label :new_password %>
							<%= f.password_field :password,:required => 'required',class:'form-control' , id: 'input_password'%>
							View password <input type="checkbox" onclick="show_password()">
							<span class="glyphicon glyphicon-eye-open"> </span>
							<br>
							<%= f.label :new_password_confirmation %>
							<%= f.password_field :password_confirmation, :required => 'required' ,class:'form-control'%>
							<%=f.submit "Submit", class: 'btn btn-primary mt-3' %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
