<% provide(:title, "Change your password") %>

<div class="row ml-1">
	<h1> Modify Password </h1>
</div>

<div class="row ml-1">
	<%= render 'shared/error_messages' %>
</div>

<div class="row ml-1">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(:password_changes, url: user_password_changes_path) do |f| %>
		
			<%= f.label :new_password %>
			<%= f.password_field :password,:required => 'required',class:'form-control' , id: 'input_password'%>

			View password <input type="checkbox" onclick="show_password()">
			<br>
			<%= f.label :new_password_confirmation %>
			<%= f.password_field :password_confirmation, :required => 'required' ,class:'form-control'%>
			
			<%=f.submit "Submit", class: 'btn btn-primary' %>
		<% end %>
	</div>
</div>