<div class="chatroom-container w-50 m-auto p-4">
  <h1>Chatroom: <%= @chatroom.id %></h1>
  <div class="chatroom-messages">
    <% @messages.each do |msg| %>
      <% if msg.content.present? %>
        <% if current_user.id == msg.user_id%>
          <%# left float if not cur user %>
          <div class="text-right">
            <%= msg.content %> - <%= User.find(msg.user_id).name %>
          </div>
        <% else %>
          <%# right float if current user %>
          <div class="text-left">
            <%= msg.content %> - <%= User.find(msg.user_id).name %>
          </div>
        <%end%>
      <% end %>
    <%end%>
  </div>
  <br>
  <%= render partial: 'messages/message_form', locals: {message: @message, chatroom: @chatroom}%>
</div>
