<% if @group.errors.any? %>
	<h4>The following errors prevented the group from being created:</h4>
	<ul>
		<% @group.errors.full_messages.each do |message|%>
			<li><%= message%></li>
		<% end %>
	</ul>
<% end %>

<%= form_for @group do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name, placeholder:"eg. Friends, Colleagues" %>
	</p>
 	<p>
		<%= f.label :description%>
		<%= f.text_area :description, placeholder:"eg. A group of trusted friends" %>
 	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>

<%= link_to 'Back', user_path(@current_user) %>
