<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= form_with url: search_add_to_groups_path, local: true, method: :get, html: {class: "form-inline"} do |form| %>
				<%= form.text_field :add_to_groups_q, placeholder: "Add users to this group..", data: { behaviour: "autocomplete_add_to_groups" }, class: "form-control mt-3 mx-2" %>
				<%= form.button "Add", class: "btn btn-outline-success mt-3 mx-3" %>
			<% end %>	
		</div>	
	</div>
	<div class="row justify-content-center p-3">
            <h1 class="font-weight-bold" style="color:#b2003b;">  <%=@group.name%> </h1>
            <h4 class="font-weight-bold text-secondary mt-2 text-center">  <%=@group.description%></h3>
	</div>
	<div class="row p-3">
		<h4 class="font-weight-bold">Who Owns this group?: <%= User.find_by(id:@group.owner_id).name %></h4>
	</div>
	<div class="row p-3">
		 <% if !@group.member_exists(current_user) %>
			<%= button_to "Join Group", {:controller => "group", :action => "join", :group => @group, :user => current_user }, :method => :post, class:"card-link btn btn-success mr-2" %>
		<% else %>
			<%= button_to "Leave Group", {:controller => "group", :action => "leave", :group => @group, :user => current_user }, :method => :post, class:"card-link btn btn-warning mr-2" %>
		<% end %>

		<% if current_user.admin? or current_user.id == @group.owner_id %>
			<%= button_to 'Delete Group', @group, method: :delete, data: {confirm: "Are You sure you want to delete #{@group.name}? "},
			class: "card-link btn btn-danger" %>
		<% end %>
	</div>
	<h4 class="font-weight-bold" style="">Group Members:</h4>	
	<div class="row">
      	<%= render @group.users , {class:"justify-content-center"}%>
	</div>

	<h4 class="font-weight-bold">Listings offered from all the users in this group:</h4>	
	<div class="row">
		<% @group.users.each do |user|%>
			<% if user.listings %>
				<%= render user.listings %>
			<% end%>
		<% end %>
	</div>
</div>