  <div class="row">
    <div class="col-md-6 py-3">
            <% @count = 0 %>
            <% @user.listings.each do |u| %>
                <% @count += u.borrow_requests.where(status: "requested").count %>
            <% end %>
            
            <% if @count > 0%>
                <% @user.listings.each do |listing| %>
                    <% listing.borrow_requests.each do |borrow_request| %>
                            <% if borrow_request.status == "requested"%>
                                <div class="card mx-2 mb-2">
                                    <div class="card-body">
                                        <h4> Borrower's Name: <%= User.find_by(id: borrow_request.user_id).name %></h4>
                                        <h4> Listing name:   <%= listing.title %> </h4>
                                        <h4 style="color:blue;"> From <%= borrow_request.start_borrowing.strftime("%d/%m/%Y") %> To <%= borrow_request.end_borrowing.strftime("%d/%m/%Y") %></h4>
                                        <%= link_to "Approve", borrow_approve_path(borrow_request.id), method: :patch, class: 'btn btn-outline-info mt-2' , data: {toggle:"tooltip", placement:"right", title:"After you approve a request, schedule to drop off the item. Once you've given the item, go to the Mark as Lent tab and mark the item as borrowed."}%>
                                        <%= link_to "Decline", borrow_decline_path(borrow_request.id), method: :get, class: 'btn btn-danger mt-2'%>
                                    </div>
                                </div >
                            <% end %>
                    <% end %>
                <% end %>
            <% end %>  
        </div>
        <%if @count == 0%>
             <div class="col-md-12">
                    <div class="card d-flex p-5 mb-5">
                        <div class="card-text p-5 d-flex justify-content-center align-items-center text-secondary">
                         You currently have no rental requests
                        </div>
                    </div>
                </div>
            <% end %>
    </div>