<div class="container">
    <!-- Profile -->
    <div class="row mt-2"> 
        <div class="col-md-12"> 
            <h1 class="font-weight-bold ml-4"> Profile </h1>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-3">
             <%if @user.person.image.attachment != nil and @user.person.image.content_type.in?(%('image/jpeg image/png')) %>
          			<%= image_tag(@user.thumbnail, :class => "img-thumbnail rounded-circle")%>
             <% else %>
          			<%= image_tag("empty-user-icon.png", :class=> "img-thumbnail rounded-circle")%>
             <%end%>
            <%= link_to "Edit Profile", user_settings_path(current_user), class:'btn btn-outline-info ml-5 mt-3 w-75 font-weight-bold'%>
        </div>
         <div class="col-md-9">
              <div class="d-flex flex-row ml-3 mb-3">
                <h6 class="font-weight-bold text-secondary">Name:</h6>
                <h6 class="ml-3 font-weight-bold"><%= @user.name%> </h6>
            </div>
            <div class="d-flex flex-row ml-3 mb-3">
                <h6 class="font-weight-bold text-secondary">Email:</h6>
                <h6 class="ml-3 font-weight-bold"><%= @user.email%> </h6>
            </div>
             <div class="d-flex flex-row ml-3 mb-3">
                <h6 class="font-weight-bold text-secondary">Address:</h6>
                <h6 class="ml-3 font-weight-bold"><%= @user.person.address %> </h6>
            </div>
            <div class="d-flex flex-row ml-3 mb-3">
                <h6 class="font-weight-bold text-secondary">Phone Number:</h6>
                <h6 class="ml-3 font-weight-bold"><%= @user.person.phone_number %> </h6>
            </div>
            <div class="d-flex flex-row ml-3 mb-3">
                <h6 class="font-weight-bold text-secondary">Joined:</h6>
                <h6 class="ml-3 font-weight-bold"><%= @user.created_at.strftime("%B %d, %Y") %> </h6>
            </div>
             <div class="d-flex flex-column ml-3 mb-3">
                <h6 class="font-weight-bold text-secondary mb-3">Description:</h6>
                <h6 class="ml-3 font-weight-bold"><%= @user.person.description %> </h6>
            </div>
             <div class="d-flex flex-column ml-3 mb-3">
                <h6 class="font-weight-bold text-secondary mb-3">Rating:</h6>
                <h6 class="ml-3 font-weight-bold">
                    <% if get_rounded_user_rating == 0 %>
                        <p class="card-text"> No ratings yet </p>
                    <% else %>
                        <% for i in 1..get_rounded_user_rating do %>
                        <i class="material-icons">
                        grade
                        </i>
                        <%end%>
                    <% end %>
                 </h6>
            </div>
            <div class="d-flex flex-row ml-3">
                <button type="button" class="btn db-browse-btn font-weight-bold" style="color:white!important;" data-toggle="modal" data-target="#userReviewsModal">
                    See Reviews
                </button>
            </div>
        </div>
    </div>
    <!-- Ez access buttons -->
      <div class="row">
        <div class="col-md-6">
            <%= link_to "Put up a Listing", new_listing_path, class:'btn db-create-btn p-3 m-2 w-75 font-weight-bold', style:"color:white!important;" %>
        </div>
        <div class="col-md-6">
            <%= link_to "Browse Listings", listings_path , class:'btn db-browse-btn p-3 m-2 w-75 font-weight-bold', style:"color:white!important;" %>
        </div>
    </div>
</div>

<div class="modal fade" id="userReviewsModal" tabindex="-1" role="dialog" aria-labelledby="userReviewsModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="userReviewsModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="overflow-y:scroll;">
        <ul>
            <%= render(partial: 'comments/comment', collection: @user.person.comments) %>
            </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

          