<div class="container">
            <div class="row">
                <% @count_req = 0 %>
                <% @count_approved = 0 %>
                <% @count_borrowed = 0 %>
                <% current_user.listings.each do |u| %>
                    <% @count_req += u.borrow_requests.where(status: "requested").count %>
                    <% @count_approved += u.borrow_requests.where(status: "approved").count %>
                    <% @count_borrowed += u.borrow_requests.where(status: "borrowed").count %>
                <% end %>
                <div class="col-md-12 p-3">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item active">
                            
                            <a class="nav-link active" data-toggle="tab" href="#pendingApprovals">Pending Approvals
                            <% if @count_req > 0 %>
                                <div class="dot"> <%= @count_req %></div>
                            <%end%>
                            </a>
                        </li>
                        <li class="nav-item active">
                           <a class="nav-link" data-toggle="tab" href="#markAsLent">Items to Mark as Lent
                           <% if @count_approved > 0 %>
                                <div class="dot"> <%= @count_approved %></div>
                            <%end%>
                           </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#markAsReturned">Items to Mark as Returned
                            <% if @count_borrowed > 0 %>
                                <div class="dot"> <%= @count_borrowed %></div>
                            <%end%>
                            </a>
                        </li>
                        <% if current_user.admin? %>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#reportings">Reports</a>
                        </li>
                        <% end %>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <div id="pendingApprovals" class="tab-pane fade show active">
                             <%= render 'action_items_pending_approvals'%>
                        </div>
                        <div id="markAsLent" class="tab-pane fade">
                            <%= render 'mark_as_lent'%>
                        </div>
                        <div id="markAsReturned" class="tab-pane fade">
                            <%= render 'mark_as_returned'%> 
                        </div>
                        <% if current_user.admin? %>
                         <div id="reportings" class="tab-pane fade">
                            <%= render 'admin_reports'%> 
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
        </div> 
 