<div class="container"> 
    <div class="row justify-content-center mt-3"> 
        <div class="btn-group w-50" role="group" aria-label="Basic example">
            <button id="borrowingButton" type="button" class="btn btn-secondary w-50 toggle-item">Borrowing</button>
            <button id="lendingButton" type="button" class="btn btn-secondary w-50 toggle-item">Lending</button>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
                <div class="" id="borrowing" style="">
                   <h2 class="p-3"> What you're Borrowing </h2> 
                       <% if @user.borrow_requests.count > 0%>
                            <%= render @user.borrow_requests %>
                        <% else %>
                            <div class="col-md-12">
                                <div class="card d-flex p-5 mb-5">
                                    <div class="card-text p-5 d-flex text-secondary">
                                        You haven't requested to borrow anything yet. Browse our listings to find what you need!
                                    </div>
                                    <div class="card-text">
                                        <%= link_to "Browse Listings", listings_path , class:'btn db-create-btn font-weight-bold', style:"color:white!important;" %>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                </div>
                <div class="" id="lending" style="display:none;">
                     <h2 class="p-3"> Rental requests you've Approved:</h2> 

                    <% @count = 0 %>
                    <% @user.listings.each do |u| %>
                    <% @count += u.borrow_requests.where(status: "approved").count %>
                    <% end %>
                    <% if @count > 0%>
                        <% @user.listings.each do |listing| %>
                        <% listing.borrow_requests.each do |borrow_request| %>
                            <% if borrow_request.status == "approved"%>
                            <div class="col-md-6">
                                <div class="card card mx-2 mb-2">
                                    <div class="card-body">
                                        <h4> Borrower's Name: </h4>
                                        <%= User.find_by(id: borrow_request.user_id).name %>
                                        <h4> Listing name: </h4>
                                        <%= listing.title %> <br />
                                        <span class="badge badge-pill status-pill float-right mt-2 mr-2" style="background-color:green;"><%= borrow_request.status.camelize %> </span> <br/>
                                        <% if borrow_request.status == "approved"%>
                                        <%= button_to "Mark as Borrowed", borrow_update_path(borrow_request.id), class:"btn btn-outline-info", :method => :put %>       
                                        <% end %>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        <% end %>
                        <% end %>
                    <h2 class="p-3"> Items currently out for loan:</h2> 


                    <% else %>
                        <div class="col-md-12">
                            <div class="card d-flex p-5 mb-5">
                                <div class="card-text p-5 d-flex justify-content-center align-items-center text-secondary">
                                    You haven't lent anything out. Why not put up a listing?
                                </div>
                                 <%= link_to "Post a listing", new_listing_path, class:'btn db-create-btn font-weight-bold', style:"color:white!important;" %>
                            </div>
                        </div>
                    <%end%>
                </div>
        </div>
    </div>
</div>