<% provide(:title, "Edit user") %>
<% provide(:button_text, 'Save Changes') %>
<h1>Update your profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
	    <%= render 'shared/error_messages' %> 
	      <%= f.label :name , "Name: "%>
	      <%= f.text_field :name, class: 'form-control'%> 

	      <%= f.label :email , "Email: "%>
	      <%= f.email_field :email, class: 'form-control'%> 
	      
	      <%= f.submit yield(:button_text), class: "btn btn-primary" %>
	<% end %>
  </div>
</div>