<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 p-3">
			<ul class="nav nav-tabs nav-justified">
				<li class="nav-item">
					<%= link_to 'Update Your Basic Information', edit_user_path(@user), class:'nav-link'%> 
				</li>
				<li class="nav-item">
					<%= link_to 'Change Password', new_user_password_change_path(@user), class: 'nav-link'%> 
				</li>
				<li class="nav-item">
					<%= link_to 'Deactivate Account' , user_setting_path(@user.id,0),method: :delete, 
					data: {confirm: "We are sad to see you leave :( Are you sure you want to delete your account? This will delete all of your information from our database. ) "  },
					class:"nav-link"%>
				</li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<% provide(:title, "Edit user") %>
				<% provide(:button_text, 'Save Changes') %>
				<div class="row">
					<div class="col-md-3 p-4">	
					 <%if @user.person.image.attachment != nil and @user.person.image.content_type.in?(%('image/jpeg image/png')) %>
	          				<%= image_tag(@user.thumbnail, :class => "img-thumbnail rounded-circle")%>
	                 <% else %>
	          				<%= image_tag("empty-user-icon.png", :class=> "img-thumbnail rounded-circle")%>
					 <%end%>
						<h5 class="text-center"><%= @user.name%> </h5>
					</div>
					<div class="col-md-9 p-5">
						<%= form_for @user do |f| %>
							<%= render 'shared/error_messages' %> 
								<%= f.label :image  , "Profile Picture: "%>
								<%= f.file_field :image, class: 'form-control'%>
								
								<%= f.label :name , "Name: "%>
								<%= f.text_field :name, class: 'form-control'%> 

								<%= f.label :address , "Address: "%>
								<%= f.text_field :address , placeholder: "#{@user.person.address}", value: @user.person.address , class: 'form-control'%> 

								<%= f.label :phone_number , "Phone Number: "%>
								<%= f.text_field :phone_number , placeholder: "#{@user.person.phone_number}", value: @user.person.phone_number , class: 'form-control'%> 
								<%= f.label :description , "Description: "%>
								<%= f.text_area :description , placeholder: "#{@user.person.description}", value: @user.person.description , class: 'form-control'%> 

								<%= f.submit yield(:button_text), class: "btn btn-primary mt-2" %>
							<% end %>
					</div>
				</div>	
			</div> 
		</div>
	</div>
</div>
