<div class="container-fluid">
<!--For now i just put everything in a container-fluid. Need some input into what else this page
should have... will discuss with you guys-->
	<div class="row">
		<div class="col-md-12">
			<%= form_with url: search_users_path, local: true, method: :get, html: {class: "form-inline float-right"} do |form| %>
				<%= form.text_field :users_q, placeholder: "Search for a user..", data: { behaviour: "autocomplete_users" }, class: "form-control mt-3 mx-2" %>
				<%= form.button "Search", class: "btn btn-outline-success mt-3 mx-3" %>
			<% end %>	
		</div>	
	</div>
	<h1> All Users </h1>
	<%= will_paginate html:{class:"justify-content-center"} %>
		<div class="row">
			<%= render @users %>
		</div>
	<%= will_paginate %>
</div>

