<%= provide(:title, 'All Users') %>
<h1> All Users </h1>

<%= will_paginate %>

<ul>
	<%= render @users %>
</ul>

<%= will_paginate %>


<div class="col-md-6 col-md-offset-3">
	<h4>Search for a user (by name or email)</h4>
	<%= form_tag(users_path, method: :get) do %>
	  <%= label_tag :keyword%>:
	  <%= text_field_tag :search, params[:search]%>
	  <%= submit_tag 'Search' , search: nil, class: "btn btn-primary"%>
	<% end %>
</div><br>