<% if is_current_user %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-3">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item active">
                            <%if params[:active_tab]=="dashboardTab"%>
                            <a class="nav-link active" data-toggle="tab" href="#dashboardTab">Dashboard</a>
                            <%else%>
                            <a class="nav-link" data-toggle="tab" href="#dashboardTab">Dashboard</a>
                            <%end%>
                        </li>
                        <li class="nav-item active">
                            <%if params[:active_tab]=="userListings"%>
                            <a class="nav-link active" data-toggle="tab" href="#userListings">Listings</a>
                            <%else%>
                            <a class="nav-link" data-toggle="tab" href="#userListings">Listings</a>
                            <%end%>
                        </li>
                        <li class="nav-item">
                            <%if params[:active_tab]=="borrowRequests"%>
                            <a class="nav-link active" data-toggle="tab" href="#borrowRequests">My Rentals</a>
                            <%else%>
                            <a class="nav-link" data-toggle="tab" href="#borrowRequests">My Rentals</a>
                            <%end%>
                        </li>
                        <li class="nav-item">
                            <%if params[:active_tab]=="actionItems"%>
                            <a class="nav-link active" data-toggle="tab" href="#actionItems">Action Items </a>
                            <%else%>
                            <a class="nav-link" data-toggle="tab" href="#actionItems">Action Items </a>
                            <%end%>
                        </li>
                        <li class="nav-item">
                            <%if params[:active_tab]=="approvedRequests"%>
                            <a class="nav-link active" data-toggle="tab" href="#approvedRequests">Messages</a>
                            <%else%>
                            <a class="nav-link" data-toggle="tab" href="#approvedRequests">Messages</a>
                            <%end%>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <%if params[:active_tab]=="dashboardTab"%>
                        <div id="dashboardTab" class="tab-pane fade show active">
                        <%else%>
                        <div id="dashboardTab" class="tab-pane fade">
                        <%end%>
                            <%= render 'dashboard_tab_content' %>
                        </div>
                        <%if params[:active_tab]=="userListings"%>
                        <div id="userListings" class="tab-pane fade show active">
                        <%else%>
                        <div id="userListings" class="tab-pane fade">
                        <%end%>
                        <%= render 'user_listings_tab_content' %>
                        </div>
                        <%if params[:active_tab]=="borrowRequests"%>
                        <div id="borrowRequests" class="tab-pane fade show active">
                            <%else%>
                            <div id="borrowRequests" class="tab-pane fade">
                            <%end%>
                            <%= render 'user_rentals_tab_content'%>
                        </div>
                        <%if params[:active_tab]=="actionItems"%>
                        <div id="actionItems" class="tab-pane fade show active">
                        <%else%>
                        <div id="actionItems" class="tab-pane fade">
                        <%end%>
                        <%= render 'user_action_items_tab_content'%>
                        </div>
                        <%if params[:active_tab]=="approvedRequests"%>
                        <div id="approvedRequests" class="tab-pane fade show active">
                            <%else%>
                            <div id="approvedRequests" class="tab-pane fade">
                            <%end%>
                            <%= render 'user_approved_requests_tab_content' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% else %>
    <div class="container">
        <!-- Profile -->
        <div class="row mt-2"> 
            <div class="col-md-12"> 
                <h1 class="font-weight-bold ml-4"> <%= @user.name %>'s Profile </h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3">
                 <%if @user.person.image.attachment != nil and @user.person.image.content_type.in?(%('image/jpeg image/png')) %>
              			<%= image_tag(@user.thumbnail, :class => "img-thumbnail rounded-circle")%>
                 <% else %>
              			<%= image_tag("empty-user-icon.png", :class=> "img-thumbnail rounded-circle")%>
                 <%end%>
            </div>
            <div class="col-md-9">
                  <div class="d-flex flex-row ml-3 mb-3">
                    <h6 class="font-weight-bold text-secondary">Name:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.name%> </h6>
                </div>
                <div class="d-flex flex-row ml-3 mb-3">
                    <h6 class="font-weight-bold text-secondary">Email:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.email%> </h6>
                </div>
                <div class="d-flex flex-row ml-3 mb-3">
                    <h6 class="font-weight-bold text-secondary">Address:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.person.address %> </h6>
                </div>
                <div class="d-flex flex-row ml-3 mb-3">
                    <h6 class="font-weight-bold text-secondary">Phone Number:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.person.phone_number %> </h6>
                </div>
                <div class="d-flex flex-row ml-3 mb-3">
                    <h6 class="font-weight-bold text-secondary">Joined:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.created_at.strftime("%B %d, %Y") %> </h6>
                </div>
                <div class="d-flex flex-column ml-3">
                    <h6 class="font-weight-bold text-secondary mb-3">Description:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.person.description %> </h6>
                </div>
            </div>
        </div>
        
    </div>
   
<%end %>
