<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 p-3">
            <ul class="nav nav-tabs nav-justified">
                <!-- add data-toggle attribute to the anchors -->
                <li class="nav-item active">
                    <a class="nav-link active" data-toggle="tab" href="#dashboardTab">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#userListings">Listings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#borrowRequests">Borrow Requests</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#actionItems">Action Items </a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#approvedRequests">Approved Requests</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tab-content">
                <div id="dashboardTab" class="tab-pane fade show active">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <%= link_to "Put up a Listing", new_listing_path, class:'btn db-create-btn p-4 m-2 w-100 font-weight-bold', style:"color:white!important;" %>
                            </div>
                            <div class="col-md-6">
                                <%= link_to "Browse Listings", listings_path , class:'btn db-browse-btn p-4 m-2 w-100 font-weight-bold', style:"color:white!important;" %>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="userListings" class="tab-pane fade">
                   <div class="row">
                        <div class="col-md-6 mx-4">
                            <div class="d-flex flex-row mt-3 py-3">
                                <h2> <%=@user.name%>'s listings </h2>
                                <%= link_to "Create new listing", new_listing_path, class:'btn btn-outline-info h-25 ml-4 mt-2' %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% if @user.listings.count > 0%>
                        <%= render @user.listings %>
                        <% else %>
                            <div class="col-md-12">
                                <div class="card d-flex p-5 mb-5">
                                    <div class="card-text p-5 d-flex justify-content-center align-items-center text-secondary">
                                    You don't have any listings yet. Create one by clicking on the button above!
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </div>
                </div>
                <div id="borrowRequests" class="tab-pane fade">
                     <div class="row">
                        <div class="col-md-6 mx-4">
                            <div class="d-flex flex-row mt-3 py-3">
                                <h2> Requests You've Made </h2>
                            </div>
                        </div>
                     </div>
                     <div class="row">
                        <% if @user.borrow_requests.count > 0%>
                            <%= render @user.borrow_requests %>
                        <% else %>
                            <div class="col-md-12">
                                <div class="card d-flex p-5 mb-5">
                                    <div class="card-text p-5 d-flex justify-content-center align-items-center text-secondary">
                                    You haven't requested to borrow anything yet. Browse lisitings to find what you need!
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </div>
                </div>
                <div id="actionItems" class="tab-pane fade">
                    <div class="row">
                        <div class="col-md-6 mx-4">
                            <div class="d-flex flex-row mt-3 py-3">
                                <h2> Awaiting Approvals </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <% @count = 0 %>
                        <% @user.listings.each do |u| %>
                        <% @count += u.borrow_requests.where(status: "requested").count %>
                        <% end %>
                        <% if @count > 0%>
                            <% @user.listings.each do |listing| %>
                            <% listing.borrow_requests.each do |borrow_request| %>
                                    <% if borrow_request.status == "requested"%>
                                    <div class="col-md-6">
                                        <div class="card mx-2 mb-2">
                                            <div class="card-body">
                                                <h4> Borrower's Name: </h4>
                                                <%= User.find_by(id: borrow_request.user_id).name %>
                                                <h4> Listing name:   <%= listing.title %> </h4>
                                                <%= link_to "Approve", borrow_approve_path(borrow_request.id), method: :patch, class: 'btn btn-outline-info mt-2'%>
                                                <%= link_to "Decline", borrow_decline_path(borrow_request.id), method: :get, class: 'btn btn-danger mt-2'%>
                                            </div>
                                        </div >
                                    </div>
                                    <% end %>
                            <% end %>
                            <% end %>
                        <% else %>
                            <div class="col-md-12">
                                <div class="card d-flex p-5 mb-5">
                                    <div class="card-text p-5 d-flex justify-content-center align-items-center text-secondary">
                                    You don't have any awating approvals
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    </div>
                </div>
                <div id="approvedRequests" class="tab-pane fade">
                     <div class="row">
                        <div class="col-md-6 mx-4">
                            <div class="d-flex flex-row mt-3 py-3">
                                <h2> Approved Requests </h2>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <% @count = 0 %>
                    <% @user.listings.each do |u| %>
                    <% @count += u.borrow_requests.where(status: "approved").count %>
                    <% end %>
                    <% if @count > 0%>
                        <% @user.listings.each do |listing| %>
                        <% listing.borrow_requests.each do |borrow_request| %>
                            <% if borrow_request.status == "approved"%>
                            <div class="col-md-6">
                                <div class="card card mx-2 mb-2">
                                    <div class="card-body">
                                        <h4> Borrower's Name: </h4>
                                        <%= User.find_by(id: borrow_request.user_id).name %>
                                        <h4> Listing name: </h4>
                                        <%= listing.title %>
                                    </div>
                                </div>
                            </div>
                            <% end %>
                        <% end %>
                        <% end %>
                    <% else %>
                        <div class="col-md-12">
                            <div class="card d-flex p-5 mb-5">
                                <div class="card-text p-5 d-flex justify-content-center align-items-center text-secondary">
                                You don't have approved requests
                                </div>
                            </div>
                        </div>
                    <%end%>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
