<% if is_current_user %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 p-3">
                    <ul class="nav nav-tabs nav-justified">
                        <li class="nav-item active">
                            <%if params[:active_tab]=="dashboardTab"%>
                            <a class="nav-link active" data-toggle="tab" href="#dashboardTab">Dashboard</a>
                            <%else%>
                            <a class="nav-link" data-toggle="tab" href="#dashboardTab">Dashboard</a>
                            <%end%>
                        </li>
                        <li class="nav-item active">
                            <%if params[:active_tab]=="userListings"%>
                            <a class="nav-link active" data-toggle="tab" href="#userListings">My Listings</a>
                            <%else%>
                            <a class="nav-link" data-toggle="tab" href="#userListings">My Listings</a>
                            <%end%>
                        </li>
                        <li class="nav-item">
                            <%if params[:active_tab]=="borrowRequests"%>
                            <a class="nav-link active" data-toggle="tab" href="#borrowRequests">My Rentals</a>
                            <%else%>
                            <a class="nav-link" data-toggle="tab" href="#borrowRequests">My Rentals</a>
                            <%end%>
                        </li>
                        <li class="nav-item">
                            <%if params[:active_tab]=="actionItems"%>
                            <a class="nav-link active" data-toggle="tab" href="#actionItems">Action Items </a>
                            <%else%>
                            <a class="nav-link" data-toggle="tab" href="#actionItems">Action Items </a>
                            <%end%>
                        </li>
                        <li class="nav-item">
                            <%if params[:active_tab]=="messagesTab"%>
                            <a class="nav-link active" data-toggle="tab" href="#messagesTab">Messages</a>
                            <%else%>
                            <a class="nav-link" data-toggle="tab" href="#messagesTab">Messages</a>
                            <%end%>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        <%if params[:active_tab]=="dashboardTab"%>
                        <div id="dashboardTab" class="tab-pane fade show active">
                        <%else%>
                        <div id="dashboardTab" class="tab-pane fade">
                        <%end%>
                            <%= render 'dashboard_tab_content' %>
                        </div>
                        <%if params[:active_tab]=="userListings"%>
                        <div id="userListings" class="tab-pane fade show active">
                        <%else%>
                        <div id="userListings" class="tab-pane fade">
                        <%end%>
                        <%= render 'user_listings_tab_content' %>
                        </div>
                        <%if params[:active_tab]=="borrowRequests"%>
                        <div id="borrowRequests" class="tab-pane fade show active">
                            <%else%>
                            <div id="borrowRequests" class="tab-pane fade">
                            <%end%>
                            <%= render 'user_rentals_tab_content'%>
                        </div>
                        <%if params[:active_tab]=="actionItems"%>
                        <div id="actionItems" class="tab-pane fade show active">
                        <%else%>
                        <div id="actionItems" class="tab-pane fade">
                        <%end%>
                        <%= render 'user_action_items_tab_content'%>
                        </div>
                        <%if params[:active_tab]=="messagesTab"%>
                        <div id="messagesTab" class="tab-pane fade show active">
                            <%else%>
                            <div id="messagesTab" class="tab-pane fade">
                            <%end%>
                            <%= render 'user_messages' %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<% else %>
    <div class="container">
        <!-- Profile -->
        <div class="row mt-2"> 
            <div class="col-md-12"> 
                <h1 class="font-weight-bold ml-4"> <%= @user.name %>'s Profile </h1>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-md-3">
                 <%if @user.person.image.attachment != nil and @user.person.image.content_type.in?(%('image/jpeg image/png')) %>
              			<%= image_tag(@user.thumbnail, :class => "img-thumbnail rounded-circle")%>
                 <% else %>
              			<%= image_tag("empty-user-icon.png", :class=> "img-thumbnail rounded-circle")%>
                 <%end%>
            </div>
            <div class="col-md-9">
             <div class="d-flex flex-row ml-3 mb-3">
                <h6 class="font-weight-bold text-secondary mb-3">Rating:</h6>
                <h6 class="ml-3 font-weight-bold">
                    <% if get_rounded_user_rating == 0 %>
                        <p class="card-text"> No ratings yet </p>
                    <% else %>
                        <% for i in 1..get_rounded_user_rating do %>
                        <i class="material-icons" style="color:#f2a900!important;">
                        grade
                        </i>
                        <%end%>
                    <% end %>
                 </h6>

                <button type="button" class="btn db-browse-btn font-weight-bold ml-3" style="color:white!important;" data-toggle="modal" data-target="#userReviewsModal">
                    See Reviews
                </button>
            </div>
                  <div class="d-flex flex-row ml-3 mb-3">
                    <h6 class="font-weight-bold text-secondary">Name:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.name%> </h6>
                </div>
                <div class="d-flex flex-row ml-3 mb-3">
                    <h6 class="font-weight-bold text-secondary">Email:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.email%> </h6>
                </div>
                <div class="d-flex flex-row ml-3 mb-3">
                    <h6 class="font-weight-bold text-secondary">Address:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.person.address %> </h6>
                </div>
                <div class="d-flex flex-row ml-3 mb-3">
                    <h6 class="font-weight-bold text-secondary">Phone Number:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.person.phone_number %> </h6>
                </div>
                <div class="d-flex flex-row ml-3 mb-3">
                    <h6 class="font-weight-bold text-secondary">Joined:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.created_at.strftime("%B %d, %Y") %> </h6>
                </div>
                <div class="d-flex flex-column ml-3">
                    <h6 class="font-weight-bold text-secondary mb-3">Description:</h6>
                    <h6 class="ml-3 font-weight-bold"><%= @user.person.description %> </h6>
                </div>

                <%rendered=false%>
                <%BorrowRequest.all.each do |cur_item|%>
                    <% if cur_item.user_id == @user.id and cur_item.status=="late" and rendered==false and Listing.find(cur_item.listing_id).user_id == current_user.id and !current_user.admin? %>
                        <%rendered=true%>
                        <%= link_to "Report this user", report_user_path(@user), class: 'btn btn-danger btn-outline-info mt-2'%>
                    <% end %>
                <%end%>
            </div>
        </div>
    </div>

    <%# Modal to display the user's reviews. not clean but no time, no time!%>

    <div class="modal fade" id="anotherUserReviewsModal" tabindex="-1" role="dialog" aria-labelledby="anotherUserReviewsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="anotherUserReviewsModalLabel"><%= @user.name%>'s Reviews</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="overflow-y:scroll;">
            <%if @user.person.comments.count == 0%>
            No reviews yet
            <%else %>
                <ul>
                    <%= render(partial: 'comments/comment', collection: @user.person.comments) %>
                </ul>
            <%end%>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
<%end %>
