<%# Carousel %>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <%# <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol> %>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <div class="carousel-image slide-1"></div>
          <div class="carousel-caption">
             XCHANGE 
            <%# <h1>Borrow Anything</h1> %>
            <%# <p>Need something that you'll only use once?
              We'll connect you with people that you can borrow it from at a lower cost. </p> %>
          </div>
      </div>
      <%# <div class="carousel-item">
          <div class="carousel-image slide-2"></div> 
          <div class="carousel-content">
            <h1>Lend Anything</h1>
            <p>Got something lying around that you only used once?
                Lend it out through XChange to give it a second life. </p>
          </div>
      </div> %>
  </div>
    <%# <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a> %>
</div>

<div class="page-content my-4">
  <%# only show info if not logged in %>
  <% if !logged_in? %>
    <div class="about pb-4">
      <div class="home-title">ABOUT</div>
      <hr>
      <div class="home-details m-auto">
        <div class="main-text text-center m-auto">XChange's philosophy is based on the idea that we often purchase things that we only use once. We want to help you save clutter and money in your home by
              connecting you with the people who are willing to lend what you need.
        </div>
      </div>
      <div class="about-icons m-3">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-2">
            <%= image_tag("about-1.png")%>
          </div>
          <div class="col-2">
            <%= image_tag("about-2.png")%>
          </div>
          <div class="col-2">
            <%= image_tag("about-3.png")%>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
      <div class="btn">
				<%= link_to 'About', controller: 'about' %>        
      </div>
    </div>
    <div class="divider">
      <div class="get-involved p-4 my-4">
        <div class="home-title">GET STARTED</div>
        <div class="steps pt-3">
          <div class="row py-3 mx-2">
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("signup-step.png")%>
                </div>
              </div>
              <div class="row">
                <div class="col-12 py-2">
                  Sign up
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Sign up blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("login-step.png")%>
                </div>
              </div>
              <div class="row">
                <div class="col-12 py-2">
                  Log in bitch
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Log in blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("search-step.png")%>
                </div>
              </div>
              <div class="row">
                <div class="col-12 py-2">
                  Search
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Search blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("yay-step.png")%>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-12">
                  Be Satisfied
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Yay blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# Only make it show in log in rn %>
  <% if logged_in? %>
    <div class="items py-4">
      <div class="home-title"> LISTINGS </div>
      <hr>
        <div class="px-5">
          <div class="row mt-4">
            <% @listings.limit(4).each do |listing| %>
                <%= render listing %>
            <%end %>
          </div>
        </div> 
    </div>
  <% end %>

</div>

<%# comment out this part instead of deletingjust for the purpose of saving the description %>
<%# <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2> Save money and reduce clutter by borrowing instead. </h2>
      <p> XChange's philosophy is based on the idea that we often purchase things that we
          only use once.
        We want to help you save clutter and money in your home by
          connecting you with the people who are willing to lend what you need.
    </p>
    </div>
  </div>
  <div class= "bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2> Give your items a second life </h2>
      <p> XChange's philosophy is based on the idea that we often purchase things that we
          only use once.
        We want to help you save clutter and money in your home by
          connecting you with the people who are willing to lend what you need.
    </p>
    </div>
  </div>
</div> %>
