<%# Carousel %>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <%# <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol> %>
<div class="landing-page-search">
  <div class="search-wrapper p-5">
    <div class="row">
      <div class="col-8">
        <div class="title">
            <h1>Borrow</h1>
            <h1>Anything</h1>
          </div>
      </div>
      <div class="col-4">
        <div class="floating-img">
          <%= image_tag("balloons-home.png")%>
        </div>
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-12 col-md-8">
        <%= form_with url: search_listings_path, local: true, method: :get, html: {class: "searchbar"} do |form| %>
            <div class="input-container">
              <%= form.text_field :listings_q, placeholder: "I need a...", data: { behaviour: "autocomplete_listings" }, class: "input-field" %>
              <i class="material-icons input-icon"> search </i>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-content my-4">
  <%# only show info if not logged in %>
  <% if !logged_in? %>
    <div class="about pb-4">
      <div class="home-title">ABOUT</div>
      <hr>
      <div class="home-details m-auto">
        <div class="main-text text-center m-auto">XChange's philosophy is based on the idea that we often purchase things that we only use once. We want to help you save clutter and money in your home by
              connecting you with the people who are willing to lend what you need.
        </div>
      </div>
      <div class="about-icons m-3">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-2">
            <%= image_tag("about-1.png")%>
          </div>
          <div class="col-2">
            <%= image_tag("about-2.png")%>
          </div>
          <div class="col-2">
            <%= image_tag("about-3.png")%>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
      <div class="btn">
				<%= link_to 'About', controller: 'about' %>
      </div>
    </div>
    <div class="divider">
      <div class="get-involved p-4 mt-4">
        <div class="home-title">GET STARTED</div>
        <div class="steps pt-3">
          <div class="row py-3 mx-2">
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("signup-step.png")%>
                </div>
              </div>
              <div class="row">
                <div class="col-12 py-2">
                  Sign up
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Sign up blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("login-step.png")%>
                </div>
              </div>
              <div class="row">
                <div class="col-12 py-2">
                  Log in
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Log in blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("search-step.png")%>
                </div>
              </div>
              <div class="row">
                <div class="col-12 py-2">
                  Search
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Search blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("yay-step.png")%>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-12">
                  Be Satisfied
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Yay blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# Only make it show in log in rn %>
  <% if logged_in? %>
    <div class="items py-4">
      <div class="px-5">
        <div class="home-title text-left pl-2"> LISTINGS </div>
        <hr class="ml-0 pl-2">
        <div class="row mt-4">
          <% @listings.limit(8).each do |listing| %>
              <%# only show first image %>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="listing-detail py-2 mx-2">
                  <div class="row">
                    <div class="col-12">
                      <%= image_tag(listing.thumbnail(0), :class => "what")%>
                    </div>
                    <div class="col-12 mt-2 font-weight-bold">
                      <%= listing.title %>
                    </div>
                    <div class="col-12">
                      <div class="d-flex">
                        <%= listing.address %>
                        <%= link_to listing_path(listing), class:"flex-grow-1 text-right", :method => :get do%>
                        <i class="material-icons">arrow_forward</i>
                        <%end%>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <% end %>
        </div>
        <div class="text-right">
          <%= link_to "View All", listings_path, class: "font-weight-bold" %>
        </div>
      </div>
    </div>
  <% end %>

  <%# No matter if user is logged in, this will show %>
  <div class="fake-reviews-container">
    <div class="fake-reviews px-3">
      <div class="row py-4">
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-12">
              <div class="card-container">
                <div class="fake-review-card">
                  <div class="review-content text-left p-3">
                    <div class="stars">
                      <i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i>
                    </div>
                    <div class="review-comment"> "So like.... This website is gonna get it"  </div>
                    <div class="review-author text-right font-italic"> – Bella Hadid</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="bottom-padding"></div>
              <div class="card-container pt-3">
                <div class="fake-review-card">
                  <div class="review-content text-left p-3">
                    <div class="stars">
                      <i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i>
                    </div>
                    <div class="review-comment"> "The students that made this website are the coolest students I've ever met." </div>
                    <div class="review-author text-right font-italic"> – Michael Stumm</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6">
          <div class="row">
            <div class="col-12">
              <div class="top-right-padding"></div>
              <div class="card-container pt-3">
                <div class="fake-review-card">
                  <div class="review-content text-left p-3">
                    <div class="stars">
                      <i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i>
                    </div>
                    <div class="review-comment"> "Wow." </div>
                    <div class="review-author text-right font-italic"> – Owen Wilson</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="bottom-padding"></div>
              <div class="card-container pt-3">
                <div class="fake-review-card">
                  <div class="review-content text-left p-3">
                    <div class="stars">
                      <i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i><i class="material-icons"> star </i>
                    </div>
                    <div class="review-comment"> "I'll give this 6ix stars" </div>
                    <div class="review-author text-right font-italic"> – Aubrey Drake Graham</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="news-container px-5 pt-4">
    <div class="home-title text-left pl-2"> IN THE NEWS </div>
    <hr class="ml-0 pl-2">
    <div class="news-content m-4">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="row m-3">
            <div class="col-12">
              <%= image_tag("forbes-logo.png")%>
            </div>
            <div class="col-12">
              <div class="news-details m-auto pt-3"> "This is revoluntionary. Amazing. Perfect. Never the Same. Spectacular." </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row m-3">
            <div class="col-12">
              <%= image_tag("buzzfeed-logo.png")%>
            </div>
            <div class="col-12">
              <div class="news-details m-auto pt-3"> "Choose what type of cheese you like and we will show you what kind of hip lenders are you." </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row m-3">
            <div class="col-12">
              <%= image_tag("nytimes-logo.png")%>
            </div>
            <div class="col-12">
              <div class="news-details m-auto pt-3"> "You might think this is fake news, but NOPE. It's real. It's cool. Much wow. Almost better than an ice cap." </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="row m-3">
            <div class="col-12">
              <%= image_tag("people-logo.png")%>
            </div>
            <div class="col-12">
              <div class="news-details m-auto pt-3"> "If I have to pick between meeting my favourite celebrity, or browsing on this website, I'd choose the latter." </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>