<%# Carousel %>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <%# <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol> %>
<div class="landing-page-search">
  <div class="search-wrapper p-5">
    <div class="row">
      <div class="col-8"> 
        <div class="title">
            <h1>Get</h1>
            <h1>Started.</h1>
          </div>
      </div>
      <div class="col-4"> 
        <div class="floating-img">
          <%= image_tag("balloons-home.png")%>
        </div>   
      </div>
    </div>

    <div class="row pt-3">
      <div class="col-12 col-md-8">
        <%= form_with url: search_listings_path, local: true, method: :get, html: {class: "searchbar"} do |form| %>
            <div class="input-container">
              <%= form.text_field :listings_q, placeholder: "", data: { behaviour: "autocomplete_listings" }, class: "input-field" %>
              <i class="material-icons input-icon"> search </i>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-content my-4">
  <%# only show info if not logged in %>
  <% if !logged_in? %>
    <div class="about pb-4">
      <div class="home-title">ABOUT</div>
      <hr>
      <div class="home-details m-auto">
        <div class="main-text text-center m-auto">XChange's philosophy is based on the idea that we often purchase things that we only use once. We want to help you save clutter and money in your home by
              connecting you with the people who are willing to lend what you need.
        </div>
      </div>
      <div class="about-icons m-3">
        <div class="row">
          <div class="col">
          </div>
          <div class="col-2">
            <%= image_tag("about-1.png")%>
          </div>
          <div class="col-2">
            <%= image_tag("about-2.png")%>
          </div>
          <div class="col-2">
            <%= image_tag("about-3.png")%>
          </div>
          <div class="col">
          </div>
        </div>
      </div>
      <div class="btn">
				<%= link_to 'About', controller: 'about' %>        
      </div>
    </div>
    <div class="divider">
      <div class="get-involved p-4 my-4">
        <div class="home-title">GET STARTED</div>
        <div class="steps pt-3">
          <div class="row py-3 mx-2">
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("signup-step.png")%>
                </div>
              </div>
              <div class="row">
                <div class="col-12 py-2">
                  Sign up
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Sign up blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("login-step.png")%>
                </div>
              </div>
              <div class="row">
                <div class="col-12 py-2">
                  Log in
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Log in blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("search-step.png")%>
                </div>
              </div>
              <div class="row">
                <div class="col-12 py-2">
                  Search
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Search blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
            <div class="col-6 col-md-3">
              <div class="row">
                <div class="col-12">
                  <%= image_tag("yay-step.png")%>
                </div>
              </div>
              <div class="row py-2">
                <div class="col-12">
                  Be Satisfied
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  Yay blah blah blah blah blah blah blah blah blah blah blah blah blah blah
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%# Only make it show in log in rn %>
  <% if logged_in? %>
    <div class="items py-4">
      <div class="home-title"> LISTINGS </div>
      <hr>
        <div class="px-5">
          <div class="row mt-4">
            <% @listings.limit(4).each do |listing| %>
                <%= render listing %>
            <%end %>
          </div>
        </div> 
    </div>
  <% end %>

</div>

<%# comment out this part instead of deletingjust for the purpose of saving the description %>
<%# <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
  <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
    <div class="my-3 py-3">
      <h2> Save money and reduce clutter by borrowing instead. </h2>
      <p> XChange's philosophy is based on the idea that we often purchase things that we
          only use once.
        We want to help you save clutter and money in your home by
          connecting you with the people who are willing to lend what you need.
    </p>
    </div>
  </div>
  <div class= "bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
    <div class="my-3 py-3">
      <h2> Give your items a second life </h2>
      <p> XChange's philosophy is based on the idea that we often purchase things that we
          only use once.
        We want to help you save clutter and money in your home by
          connecting you with the people who are willing to lend what you need.
    </p>
    </div>
  </div>
</div> %>
