<h1>Search Results</h1>

<% if params[:q] and params[:q] != "" %>
	<% if @users_found.count > 0 %>
		<h4> Found <%= @users_found.count %> user(s) containing "<%= params[:q] %>": </h4>
		<%= render @users_found %> <br>
	<% else %>
		<p> No users found for "<%= params[:q] %>" </p>
	<% end %>
<% end %>

<% if params[:q] and params[:q] != "" %>
	<% if @listings_found.count > 0 %>
		<h4> Found <%= @listings_found.count %> listing(s) containing "<%= params[:q] %>": </h4>
		<%= render @listings_found %> <br>
	<% else %>
		<p> No listings found for "<%= params[:q] %>" </p>
	<% end %>
<% end %>