<script async src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAG4tWx7kUqZymglhMc6mRstD_RXXTEeMY"></script>
<script asyc src="https://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>

<%= form_with(model: live_search, local: true) do |form| %>
  <% if live_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(live_search.errors.count, "error") %> prohibited this live_search from being saved:</h2>

      <ul>
      <% live_search.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<!--
  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div> -->

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <!-- <%= form.label :category %>
    <%= form.text_area :category %> -->
    <%= form.label :category %>
    <%= form.select :category, ["Film & Photography","Audio Visual Equipment","Projectors & Screens","Drones","DJ Equipment","Transport","Storage","Electronics","Party & Events","Sports","Musical Instruments","Home / Office / Garden","Kids & Baby","Holiday & Travel","Clothing"] , class: 'form-control'%>
  </div>

  <div class="field">
    <%= form.label :from_when %>
    <%= form.date_select :from_when %>
  </div>

  <div class="field">
    <%= form.label :to_when %>
    <%= form.date_select :to_when %>
  </div>

  <div class="field">
    <%= form.label :where %>
    <%= form.text_field :where %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>



<script>
  $(function(){

    $("#live_search_where").geocomplete()
      .bind("geocode:result", function(event, result){
        $.log("Result: " + result.formatted_address);
          })
          .bind("geocode:error", function(event, status){
            $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function(event, results){
            $.log("Multiple: " + results.length + " results found");
          });

        $("#find").click(function(){
          $("#live_search_where").trigger("geocode");
        });


        $("#examples a").click(function(){
          $("#live_search_where").val($(this).text()).trigger("geocode");
          return false;
        });

      });


</script>
