<script async src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyAG4tWx7kUqZymglhMc6mRstD_RXXTEeMY"></script>
<script asyc src="https://ubilabs.github.io/geocomplete/jquery.geocomplete.js"></script>

<%= form_for LiveSearch.new do |form| %>
  <% if live_search.present? && live_search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(live_search.errors.count, "error") %> prohibited this live_search from being saved:</h2>
      <ul>
      <% live_search.errors.full_messages.each do |message| %>
        <li><%= sanitize(message) %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :title, class:"font-weight-bold", style:"color:#9a00bc;", data: {toggle:"tooltip", placement:"right", title:"What's your item called? Keep it short but descriptive!"}%>
    <%= form.text_field :title, placeholder:"eg. Canon XF205" , class: 'form-control'%>
  </p>

  <p>
    <%= form.label :category, class:"font-weight-bold", style:"color:#9a00bc;", data: {toggle:"tooltip", placement:"right", title:" Select a category to increase your item's visibility to potential borrowers!"}  %>
    <%= form.select :category, ["Film & Photography","Audio Visual Equipment","Projectors & Screens","Drones","DJ Equipment","Transport","Storage","Electronics","Party & Events","Sports","Musical Instruments","Home / Office / Garden","Kids & Baby","Holiday & Travel","Clothing"] , class: 'form-control'%>
  </p>

  <p>
    <%= form.label :from_when, class:"font-weight-bold", style:"color:#9a00bc;", data: {toggle:"tooltip", placement:"right", title:"When do you want this item?"} %>
    <%= form.date_select :from_when, class: 'form-control'%>
  </p>

  <p>
    <%= form.label :to_when, class:"font-weight-bold", style:"color:#9a00bc;", data: {toggle:"tooltip", placement:"right", title:"Till when do you want this item?"} %>
    <%= form.date_select :to_when, class: 'form-control'%>
  </p>

  <p>
    <%= form.label :where, "Meetup Address: ", class:"font-weight-bold", style:"color:#9a00bc;", data: {toggle:"tooltip", placement:"right", title:"Where can this item be picked up?"}%>
    <%= form.text_field :where, placeholder:"eg. 25 St George St", class: 'form-control'%>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
<%= link_to 'Back', live_searches_path %>


<script>
  $(function(){

    $("#live_search_where").geocomplete()
      .bind("geocode:result", function(event, result){
        $.log("Result: " + result.formatted_address);
          })
          .bind("geocode:error", function(event, status){
            $.log("ERROR: " + status);
          })
          .bind("geocode:multiple", function(event, results){
            $.log("Multiple: " + results.length + " results found");
          });

        $("#find").click(function(){
          $("#live_search_where").trigger("geocode");
        });


        $("#examples a").click(function(){
          $("#live_search_where").val($(this).text()).trigger("geocode");
          return false;
        });

      });
</script>


<style>
.pac-container {
  z-index: 10000 !important;
}
</style>
