<div class="live-search-wrapper m-auto p-3">
  <div class="title pb-2">Live Searches</div>
  <div class="live-item-search-container">
    <input type="text" class="live-item-search"/> 
    <i class="material-icons">search</i>
  </div>
  <div class="live-search-inquiry m-4">
    <% @live_searches.each do |live_search| %>
      <div class="d-flex flex-row mt-3">
        <div class="user-detail-container">
          <div class="user-detail">
            <div class="row">
              <div class="col-12">
                <% if User.find(live_search.user_id).thumbnail.present?%>
                  <%= image_tag(User.find(live_search.user_id).thumbnail, :class => "live-search-user-pic m-auto") %>
                <% else %>
                  <%= image_tag("empty-user-icon.png", :class => "live-search-user-pic m-auto") %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <%# sometime user name is too long %>
                <div class="user-name"> <%= User.find(live_search.user_id).name %> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-3 text-bubble-wrapper d-flex">
          <div class="text-bubble d-flex">
            <div class="d-flex flex-row w-100">
              <div class="text-bubble-left-fill"></div>
              <div class="search-info my-auto mx-3 w-100">
                <div class="row">
                  <div class="col-3 search-detail">
                    <%= live_search.title %> 
                  </div>
                  <div class="col-6 search-detail">
                    <%= live_search.from_when.strftime("%e %b %y") %> - <%= live_search.to_when.strftime("%e %b %y") %>
                  </div>
                  <div class="col-3 search-detail">
                    <%= live_search.where %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 ">
                    <div class="float-right">
                      <%= link_to 'Show', live_search %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Live Search', new_live_search_path %>
