<div class="live-search-wrapper m-auto p-3">
  <h1>Live Searches</h1>
  <input type="text" class="live-item-search"/>

  <div class="live-search-inquiry">
    <% @live_searches.each do |live_search| %>

      <div class="d-flex flex-row mt-3">
        <div class="mx-3">
          <div class="row">
            <div class="col-12">
              <%= image_tag("empty-user-icon.png", :class => "live-search-user-pic m-auto") %>
            </div>
          </div>
          <div class="row m-auto">
            <div class="col-12">
              <%= User.find(live_search.user_id).name%>
            </div>
          </div>
        </div>
        <div class="mx-3 text-bubble-wrapper d-flex">
          <div class="text-bubble d-flex">
            <div class="d-flex flex-row">
              <div class="text-bubble-left-fill"></div>
              <div class="search-info my-auto mx-3">
                <div class="row">
                  <div class="col-3">
                    <%= live_search.title %> 
                  </div>
                  <div class="col-3">
                    <%= live_search.from_when %>
                  </div>
                  <div class="col-3">
                    <%= live_search.to_when %>
                  </div>
                  <div class="col-3">
                    <%= live_search.where %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 ">
                    <div class="float-right">
                      <%= link_to 'Show', live_search %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
  


    <% end %>
  </div>
</div>

<br>

<%= link_to 'New Live Search', new_live_search_path %>
