<div class="live-search-wrapper m-auto p-3">
  <div class="title">Wanted Items</div>
  <div class="live-item-search-container m-auto">
    <input type="text" class="live-item-search" id="live-item-search-input" placeholder="Enter an item name..."/>
    <i class="material-icons">search</i>
  </div>
  <hr>
  <!-- <div class="mt-3 button-new w-100">
      <%= link_to '+', new_live_search_path, class:"btn btn-default btn-new w-100" %>
  </div> -->
  <div class="live-search-inquiry m-auto">
    <% @live_searches.each do |live_search| %>
      <div class="live-search-container">
      <div class="d-flex flex-row mt-3 mx-auto">
        <div class="user-detail-container">
          <div class="user-detail">
            <div class="row">
              <div class="col-12">
                <% if User.find(live_search.user_id).thumbnail.present?%>
                  <%= image_tag(User.find(live_search.user_id).thumbnail, :class => "live-search-user-pic m-auto") %>
                <% else %>
                  <%= image_tag("empty-user-icon.png", :class => "live-search-user-pic m-auto") %>
                <% end %>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <%# sometime user name is too long %>
                <div class="user-name"> <%= User.find(live_search.user_id).name %> </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-3 text-bubble-wrapper d-flex flex-grow-1">
          <div class="text-bubble d-flex">
            <div class="d-flex flex-row w-100">
              <div class="text-bubble-left-fill"></div>
              <div class="search-info my-auto mx-3 w-100">
                <div class="row w-100">
                  <div class="col-3 search-detail item-title">
                    <%= live_search.title %>
                  </div>
                  <div class="col-6 search-detail">
                    <%= live_search.from_when.strftime("%e %b %y") %> - <%= live_search.to_when.strftime("%e %b %y") %>
                  </div>
                  <div class="col-3 search-detail">
                    <%= live_search.where %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <div class="float-right">
                       <%= link_to 'Show', "#liveSearch#{live_search.id}Modal", "data-toggle" => "modal"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%# modal to show things here %>
      <div class="modal fade" id="liveSearch<%= live_search.id %>Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="liveSearch<%= live_search.id %>ModalLabel">Item Wanted</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Title: <%= live_search.title %> <br>
              Category: <%= live_search.category %> <br>
              When: <%= live_search.from_when.strftime("%e %b %y") %> - <%= live_search.to_when.strftime("%e %b %y") %> <br>
              Where: <%= live_search.where %>
              <% if live_search.user_id == current_user.id%>
                <%= button_to 'Edit', edit_live_search_path(live_search), class: 'btn btn-outline-info', :method => :get %>

                <%= button_to 'Delete', live_search_path(live_search), class:"card-link btn btn-primary mt-1", method: :delete, data: {confirm: "Are you sure?"} %>
              <% else %>
                  <% @l = current_user.listings.find_all {|x| x.title == live_search.title}%>
                  <% if @l.empty? %>
                  <div>
                    <h5> You must have an item listed, list one below in just a few clicks: </h5>
                    <%= button_to "List an Item", new_listing_path, :method => :get %>
                  </div>
                  <% else %>
                  <div>
                    <h5> You do have a matching listing </h5>
                    <%= button_to "Your Listing", listing_path(@l), :method => :get %>
                  </div>
                  <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      </div>
    <% end %>
  </div>
  <%# modal %>
  <%= render 'new_modal' %>
</div>
