 <% listing = Listing.find_by(id: borrow_request.listing_id) %>
    <div class="col-md-6">
        <div class="card mx-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <%= listing.title %>
            </h5>
            <h6> Owned by: <%= listing.user.name %> </h6>
            <h6 style="color:#ffc107;"> Requested on <%= borrow_request.created_at.strftime("%d/%m/%Y") %> </h6>
                <%= button_to "View Listing", listing_path(listing), class:"card-link btn btn-primary float-right", :method => :get %>
                <%= button_to "Delete Request", borrow_delete_path(borrow_request.id), class:"card-link btn btn-primary float-up", :method => :delete %>
                <% pill_color = get_pill_color_from_status(borrow_request.status) %>
                <span class="badge badge-pill status-pill float-right mt-2 mr-2" style="background-color:green;"><%= borrow_request.status.camelize %> </span>
                 <%= form_for Message.new do |f| %>
                <%= hidden_field_tag 'borrower_id', listing.user_id %>
                <%= hidden_field_tag 'chatroom_id', nil %>
                <%= f.text_field :content, autofocus: true, class: 'form-control' %>
                
                <%= f.submit "Message", class: 'btn btn-primary' %>
                <% end %>
            </div>
        </div>
    </div>
