 <% listing = Listing.find_by(id: borrow_request.listing_id) %>
    <div class="col-md-6">
        <div class="card mx-2 mb-2">
        <div class="card-body">
            <h5 class="card-title">
                <%= listing.title %>
            </h5>
            <h6> Owned by: <%=link_to listing.user.name, user_path(listing.user_id) %> </h6>
            <h6 style="color:#ffc107;"> Requested on <%= borrow_request.created_at.strftime("%d/%m/%Y") %> </h6>
            <h6 style="color:blue;"> From <%= borrow_request.start_borrowing.strftime("%d/%m/%Y") %> To <%= borrow_request.end_borrowing.strftime("%d/%m/%Y") %></h6>
                <div class="row">
                    <div class="col-sm-6">
                        <%= button_to "View Listing", listing_path(listing), class:"card-link btn btn-primary", :method => :get %>
                    </div>
                    <% if borrow_request.status == "requested"%>
                    <div class="col-sm-6">
                         <%= button_to "Delete Request", borrow_delete_path(borrow_request.id), class:"card-link btn btn-primary mt-1", :method => :delete %>
                    </div>
                    <% end %>
                    <% if borrow_request.status == "approved"%>
                    <div class="col-sm-6">
                         <%= button_to "Not Interested Anymore", borrow_delete_path(borrow_request.id), class:"card-link btn btn-primary mt-1", :method => :delete %>
                    </div>
                    <% end %>
                    <% if borrow_request.status == "returned" %>
                         <%= link_to "Rate #{listing.user.name}", person_path(listing.user_id), class: 'btn db-browse-btn', style:"color:white!important"%> 
                    <% end %>   
                    <!-- If the status is returned then, ask the owner to either update/delete item -->
                </div>
                <% pill_color = get_pill_color_from_status(borrow_request.status) %>
                <span class="badge badge-pill badge-<%= pill_color %> float-right mt-2 mr-2"><%= borrow_request.status.camelize %> </span>
                
                <button type="button" class="btn db-browse-btn mt-2 font-weight-secondary" style="color:white!important;" data-toggle="modal" data-target="#exampleModal">
                    Send a message!
                </button>
            </div>
        </div>
    </div>

<!-- Message Modal Content -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title font-weight-bold" id="exampleModalLabel" style="color:purple;">Send a Message to  <%= listing.user.name %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h6 class="font-weight-bold p-4 text-secondary">Your next step is to let <%= listing.user.name %> know
            what meet up time and location works for you. What are you waiting for? Don't be shy! </h6>
            <%= form_for Message.new do |f| %>
            <%= hidden_field_tag 'user_id', current_user.id %>
            <%= hidden_field_tag 'borrower_id', listing.user_id %>
            <%= hidden_field_tag 'chatroom_id', (current_user.chatroom.find_by(borrow_request_id: borrow_request.id)).id %>
            <%= f.text_field :content, class: 'form-control p-3' %>
            <%= f.submit "Message", class: 'btn btn-primary mt-2' %>
            <% end %>
      </div>
    </div>
  </div>
</div>
