<script src="http://maps.google.com/maps/api/js"></script>
	

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mt-3">
         <h1>My Location</h1><br>
	  </div>
	</div>
	<div class="row">
      <div class="col-lg-9 mb-5">
      	<h3>My saved Address: <%= current_user.person.address%></h3>
      </div>
	</div>
	<div class="row">
      <div class="col-lg-9 mb-5">
		<h3>My last updated location:<br><h3>
		<h4>
		 Latitude: <div id='user-lat'><%= @location.latitude%></div>
		 Longitude: <div id='user-long'><%= @location.longitude%></div>
		 Estimated address:	<%= @location.address%><br>
		</h4>
      </div>
	</div>
	
	<div id="map">
	</div>
	
	<style>
	#map {
	    width: 100%;
	    height: 400px;
	}
	</style>
	
	<script>
		var latitude =document.getElementById("user-lat").innerHTML;
		var longitude =document.getElementById("user-long").innerHTML;
		var map = new GMaps({
		  el: '#map',
		  lat: latitude,
		  lng: longitude
		});
		
		GMaps.geolocate({
			success: function(position) {
			map.setCenter(position.coords.latitude, position.coords.longitude);
		},
		error: function(error) {
			alert('Geolocation failed: '+error.message);
		},
		not_supported: function() {
			alert("Your browser does not support geolocation");
		},
		always: function() {
			alert("Your location is updated!");
		}
		});
	</script>
	
	<div class="row">
      <div class="col-lg-9 mb-5">
		<h3>Nearby users:<br><h3>
		<ul>
			<% User.all.each do |u|%>		
				<% if u.location.latitude != "-1" and u.location.longitude != "-1"%>
					<% distance_miles = Geocoder::Calculations.distance_between(
					[@location.latitude.to_f, @location.longitude	.to_f],
					[u.location.latitude.to_f, u.location.longitude.to_f])%>
					
					<%distance_km = distance_miles * 1.609344 %>
					<li>	
						'<%= u.name %>' is <b><%= distance_km.round(2) %> km</b> away
					</li>
				<% end%>	
			<% end%>		
		<ul>	
      </div>
	</div>
  </div>
</div>