<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG4tWx7kUqZymglhMc6mRstD_RXXTEeMY"></script>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 mt-3">
         <h1>My Location</h1><br>
	  </div>
	</div>
	<div class="row">
      <div class="col-lg-9 mb-5">
      	<h3>My saved Address: <%= current_user.person.address%></h3>
      </div>
	</div>
	<div class="row">
      <div class="col-lg-9 mb-5">
		<h3>My last updated location:<br><h3>
		<h4>
		 Latitude: <div id='user-lat'><%= @location.latitude%></div>
		 Longitude: <div id='user-long'><%= @location.longitude%></div>
		 Estimated address:	<div id='user-address'><%= @location.address%></div><br>
		</h4>
      </div>
	</div>
	
	<div id="map">
	</div>
	
	<style>
	#map {
	    width: 100%;
	    height: 400px;
	}
	</style>
	
	<script>
		var latitude =document.getElementById("user-lat").innerHTML;
		var longitude =document.getElementById("user-long").innerHTML;
		var map = new GMaps({
		  el: '#map',
		  lat: latitude,
		  lng: longitude
		});
		
		GMaps.geolocate({
			success: function(position) {
			map.setCenter(position.coords.latitude, position.coords.longitude);
			map.addMarker({
			  lat: position.coords.latitude,
			  lng: position.coords.longitude,
			  title: 'Lima',
			  click: function(e) {
			    alert('You clicked in this marker');
			  }
			}); 
		},
		error: function(error) {
			alert('Geolocation failed: '+error.message);
		},
		not_supported: function() {
			alert("Your browser does not support geolocation");
		},
		always: function() {
			;
		}
		});
		
		navigator.geolocation.getCurrentPosition(function(p){
		   localStorage.setItem("latitude", p.coords.latitude);
		   localStorage.setItem("longitude", p.coords.longitude)
		}, function(e){console.log(e)})

		var calculated_address;
		var geocoder  = new google.maps.Geocoder();             
		var user_location  = new google.maps.LatLng(localStorage.latitude, localStorage.longitude);    // turn coordinates into an object          
		geocoder.geocode({'latLng': user_location}, function (results, status) {
			if(status == google.maps.GeocoderStatus.OK) {           // if geocode success
			
				var calculated_address=results[0].formatted_address;         // if address found, pass to processing function
				document.getElementById("user-lat").innerHTML = localStorage.latitude;
				document.getElementById("user-long").innerHTML = localStorage.longitude;
				document.getElementById("user-address").innerHTML = calculated_address;
				
				var url_array = window.location.href.split("/");
				var user_id;
				
				for(count = 0; count < url_array.length; count++)
				{
					if (url_array[count] == "locations")
					{
						user_id = url_array[count+1];
					}
				}
				
				$.ajax ({
					url: "/locations/" + user_id + "/edit?lat=" + localStorage.latitude + "&long=" + localStorage.longitude + "&address=" + calculated_address,
					type: 'get',
					dataType: 'script',
				});
			}
		});

	</script>
	
	<div class="row">
      <div class="col-lg-9 mb-5">
		<h3>Nearby users:<br><h3>
		<ul>
			<% User.all.each do |u|%>		
				<% if u.location.latitude != "-1" and u.location.longitude != "-1"%>
					<% distance_miles = Geocoder::Calculations.distance_between(
					[@location.latitude.to_f, @location.longitude	.to_f],
					[u.location.latitude.to_f, u.location.longitude.to_f])%>
					
					<%distance_km = distance_miles * 1.609344 %>
					<li>	
						'<%= u.name %>' is <b><%= distance_km.round(2) %> km</b> away
					</li>
				<% end%>	
			<% end%>		
		<ul>	
      </div>
	</div>
  </div>
</div>