<% if logged_in? %>
	<!-- current_user is actually a function call living in sessions_helper.rb. Returns a @user object -->
	 <div class="container-fluid">
		<nav class="xchange-header py-3">
			<div class="container d-flex flex-column flex-md-row justify-content-between">
				<%= link_to "XChange", user_path(current_user), class: "navbar-brand font-weight-bold logo" %>
				<%= link_to "#{current_user.name.camelcase}", user_path(current_user), class: "py-2 d-none d-md-inline-block" %>
				<%= link_to "Users", users_path, class: "py-2 d-none d-md-inline-block" %>
				<%= link_to "Listings", listings_path, class: "py-2 d-none d-md-inline-block" %>
				<%= link_to "Settings", user_settings_path(current_user), class: "py-2 d-none d-md-inline-block" %>
				<%= link_to "Log Out", logout_path , method: :delete, class: "btn btn-info py-2 d-none d-md-inline-block" %>
			</div>
		</div>
	</div>
<%end%>

<% if !logged_in? %>
	<div class="container-fluid">
		<nav class="xchange-header sticky-top py-3 fixed-top">
			<div class="container d-flex flex-column flex-md-row justify-content-between">
				<%= link_to "XChange", home_index_path, class: "navbar-brand font-weight-bold logo" %>
				<div class="navbar-nav flex-md-row">
					<%= link_to "Log In", login_path, class: "btn btn-info py-2 d-none d-md-inline-block", style:"margin-right:30px;"  %>
					<%= link_to "Sign Up", new_user_path, class: "btn btn-info py-2 d-none d-md-inline-block" %>
				</div>
			</div>
		</nav>
	</div>
<%end%>