<footer class="footer pt-3" style="background-color:white;">
      <div class="footer-container">
            <hr>
            <div class="row m-4">
                  <div class="col-md-2">
                        <%= link_to 'Home', controller: 'home'%>
                  </div>
                  <div class="col-md-1">
                        <%= link_to 'About', "#aboutModal", "data-toggle" => "modal"%>
                  </div>
                  <div class="col-md-2">
                        <%= link_to 'Terms of Service', "#termsOfServiceModal", "data-toggle" => "modal"%>
                  </div>
                  <div class="col-md-2">
                        <%= link_to 'Privacy Policy', "#privacyPolicyModal", "data-toggle" => "modal"%>
                  </div>
                  <div class="col-md-2">
                        <%= link_to 'Contact Us', "#contactUsModal", "data-toggle" => "modal"%>
                  </div>
                  <div class="col-md-1">
                        <%= link_to 'FAQ', "#faqModal", "data-toggle" => "modal"%>
                  </div>
                  <div class="col-md-2">
                        <a href="https://www.facebook.com/Xchange-343909489518466">
                              <%= image_tag("facebook-icon.png", :class => "social-icon")%>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://twitter.com/xchange89880614">
                              <%= image_tag("twitter-icon.png", :class => "social-icon")%>
                        </a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="https://www.instagram.com/xchange.csc444">
                              <%= image_tag("instagram-icon.png", :class => "social-icon")%>
                        </a>
                  </div>
            </div>
            <%# all the footer modal goes here %>
            <div class="footer-modal">
                  <%= render 'shared/about_modal' %>
                  <%= render 'shared/terms_modal' %>
                  <%= render 'shared/privacy_modal' %>
                  <%= render 'shared/contact_us_modal' %>
                  <%= render 'shared/faq_modal' %>
            </div>
      </div>
</footer>

<style>
.social-icon
{
      max-width:15%;
}
</style>