<div class="xchange-footer">
      <nav class="navbar navbar-fixed-bottom navbar-expand-lg">
            <div class="container d-flex flex-column flex-md-row justify-content-between">
                  <%= link_to 'Home', controller: 'home', class: "py-2 d-none d-md-inline-block"  %>
                  <%= link_to 'About', controller: 'about', class: "py-2 d-none d-md-inline-block"  %>
                  <%= link_to 'Terms of Service', controller: 'terms_of_service', class: "py-2 d-none d-md-inline-block"  %>
                  <%= link_to 'Privacy Policy', controller: 'privacy_policy', class: "py-2 d-none d-md-inline-block"  %>
                  <%= link_to 'Contact Us', controller: 'contact_us', class: "py-2 d-none d-md-inline-block"  %>
            </div>
      </nav>
</div>