<div class="footer">
	<%= link_to 'Home', controller: 'home' %>
    <%= link_to 'About', controller: 'about' %>
    <%= link_to 'Terms of Service', controller: 'terms_of_service' %>
    <%= link_to 'Privacy Policy', controller: 'privacy_policy' %>
    <%= link_to 'Contact Us', controller: 'contact_us' %>
</div>