<footer class="footer py-3" style="background-color:rgb(104,214,205);">
     <div class="container">
            <div class="row">
                  <div class="col-md-2">
                        <%= link_to 'Home', controller: 'home', class: "py-2 d-none d-md-inline-block"  %>
                  </div>
                  <div class="col-md-2">
                        <%= link_to 'About', controller: 'about', class: "py-2 d-none d-md-inline-block"  %>
                  </div>
                  <div class="col-md-2">
                        <%= link_to 'Terms of Service', controller: 'terms_of_service', class: "py-2 d-none d-md-inline-block"  %>
                  </div>
                  <div class="col-md-2">
                        <%= link_to 'Privacy Policy', controller: 'privacy_policy', class: "py-2 d-none d-md-inline-block"  %>
                  </div>
                  <div class="col-md-2">
                        <%= link_to 'Contact Us', controller: 'contact_us', class: "py-2 d-none d-md-inline-block"  %>
                  </div>
                  <div class="col-md-2">
                        <%= link_to 'FAQ', controller: 'contact_us', class: "py-2 d-none d-md-inline-block"  %>
                  </div>
            </div>
     </div>
</footer>