<% if logged_in? %>
	<nav class="xchange-header navbar navbar-expand-md">
		<div class="container">
		<%= link_to "XChange", home_index_path, class: "navbar-brand font-weight-bold" %>
		<%# mobile display toggle  %>
		<button class="navbar-toggler collapse-menu-button" type="button" data-toggle="collapse">
			<span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
		</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item btn-group notification-button" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
						<a class="nav-link" data-behavior="unread-count" > </a>
						<a class="nav-link" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<i class="tiny material-icons"> notification_important </i>
						</a>
						<div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items"> 
						<!-- Dropdown Itemshere will be placed by the notification-items given by the javascript file in the form of html.erb -->
						</div>
					</li>
					<li>
						<%= link_to "Listings", listings_path, class: "nav-link"%>
					</li>
					<li>
						<%= link_to "Wanted Items", live_searches_path, class: "nav-link"%>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="accountDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<%# Why doesnt this work????? %>
							<%= current_user.name %>
        		</a>
						<div class="dropdown-menu" aria-labelledby="accountDropDownk">
							<%= link_to "Dashboard", user_path(current_user,active_tab: "dashboardTab"), class: "nav-link" %>
							<%= link_to "Groups", groups_path, class: "nav-link" %>
							<% if current_user.location%>
								<%= link_to "My Location", locations_path, class: "nav-link"%>
							<% else %>
								<%= link_to "Update My Location", new_location_path, class: "nav-link" %>
							<% end %>
							<%= link_to "Settings", user_settings_path(current_user), class: "nav-link"%>
							<%= link_to "Log Out", logout_path , method: :delete, class: "nav-link" %>
						</div>
					</li>			
				</ul>
			</div>
		</div>
	</nav>
<%end%>

<% if !logged_in? %>
	<nav class="xchange-header sticky-top navbar navbar-expand-md sticky-top">
		<div class="container">
			<%= link_to "XChange", home_index_path, class: "navbar-brand font-weight-bold logo" %>
			<button class="navbar-toggler collapse-menu-button" type="button" data-toggle="collapse">
			<span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
		</button>
			<div class="collapse navbar-collapse">
				<ul class="navbar-nav ml-auto">
					<li>
						<%= link_to "Log In", login_path,id:"loginHomeButton",class: "btn btn-outline-primary mr-2", data: {toggle:"modal", target:"#loginModal"}  %>
					</li>
					<li>
						<%= link_to "Sign Up", new_user_path,id:"signupHomeButton",class: "btn btn-outline-primary", data: {toggle:"modal", target:"#signupModal"} %>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<%end%>

<!-- Okay so I KNOW that the sessions/new.html.erb rendered a form for login, but I found 
taht in order to get a modal displaying on the home page, the modal content has to be located where
the button to trigger the modal is, so the header. It works great tbh. And can even be custom styled.
If you guys have a problem with the fact that the modal is in the header file, then we can stick to the old way
but we don't have that much time, mind you so just pick one or the other.  - >
 Modal for Login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  			<%= render 'sessions/form' %>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">Sign up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  			<%= render 'users/form' %>
      </div>
    </div>
  </div>
</div>

<%# hidden collapsible side bar nav bar for smaller screen%>
<%# I couldn't really find a bootstrap that makes this easier so I wrote it myself, a lil messy sorry %>
<% if logged_in? %>
	<div class="side-menu" style="display:none;">
		<div class="side-nav-wrapper">
			<nav id="sidebar">
				<%= link_to "XChange", home_index_path, class: "navbar-brand font-weight-bold pt-2 px-3" %>
				<%= link_to "#{current_user.name.camelcase}", user_path(current_user), class:"pt-2 px-3"%>
				<%= link_to "Groups", groups_path, class:"pt-2 px-3"%>
				<%= link_to "Listings", listings_path, class:"pt-2 px-3"%>
				<%= link_to "Wanted Items", live_searches_path, class: "pt-2 px-3"%>
				<% if current_user.location%>
					<%= link_to "Location", locations_path, class: "pt-2 px-3"%>
				<% else %>
					<%= link_to "Update My Location", new_location_path, class: "pt-2 px-3"%>
				<% end %>
				<%= link_to "Settings", user_settings_path(current_user), class: "pt-2 px-3"%>
				<%= link_to "Log Out", logout_path , method: :delete, class: "btn btn-outline-primary m-3"%>
			</nav>
		</div>
		<div class="side-menu-bg"> </div>
	</div>
<%end%>

<% if !logged_in? %>
	<div class="side-menu" style="display:none;">
		<div class="side-nav-wrapper">
			<nav id="sidebar">
				<%= link_to "Log In", login_path, class: "btn btn-outline-primary pt-2 px-3 m-3", data: {toggle:"modal", target:"#loginModal"}  %>
				<%= link_to "Sign Up", new_user_path, class: "btn btn-outline-primary pt-2 px-3 m-3"%>
			</nav>
		</div>
		<div class="side-menu-bg"> </div>
	</div>
<%end%>
<%# end side menu %>
