<% if logged_in? %>
	<!-- current_user is actually a function call living in sessions_helper.rb. Returns a @user object -->
	 <nav class="xchange-header navbar navbar-expand-md py-3">
		 <div class="container">
			<%= link_to "XChange", user_path(current_user), class: "navbar-brand font-weight-bold logo" %>
			<%# mobile display toggle  %>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-nav" aria-controls="menu-nav" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
  		</button>
				<div class="collapse navbar-collapse" id="menu-nav">
					<ul class="navbar-nav">
						<li>
							<%= link_to "#{current_user.name.camelcase}", user_path(current_user), class: "nav-link py-2 d-md-inline-block" %>
						</li>
						<li>
							<%= link_to "Users", users_path, class: "nav-link" %>
						</li>
						<li>
							<%= link_to "Listings", listings_path, class: "nav-link" %>
						</li>
						<li>
							<%= link_to "Settings", user_settings_path(current_user), class: "nav-link" %>
						</li>
					</ul>
					<ul class="navbar-nav ml-auto">
						<li>
							<%= link_to "Log Out", logout_path , method: :delete, class: "btn btn-info" %>
						</li>
					</ul>
				</div>
			</div>
   	</nav>
<%end%>

<% if !logged_in? %>
	<nav class="xchange-header navbar navbar-expand-md sticky-top py-3">
		<div class="container">
			<%= link_to "XChange", home_index_path, class: "navbar-brand font-weight-bold logo" %>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-nav" aria-controls="menu-nav" aria-expanded="false" aria-label="Toggle navigation">
    		<span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
  		</button>
			<div class="collapse navbar-collapse" id="menu-nav">
				<ul class="navbar-nav ml-auto">
					<li>
						<%= link_to "Log In", login_path, class: "btn btn-info", style:"margin-right:30px;"  %>
					</li>
					<li>
						<%= link_to "Sign Up", new_user_path, class: "btn btn-info" %>
					</li>
				</ul>
			</div>
		</div>
   	</nav>
<%end%>
