<% if logged_in? %>
	<!-- current_user is actually a function call living in sessions_helper.rb. Returns a @user object -->
	 <nav class="xchange-header sticky-top py-1">
		<div class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="navbar-brand" href="#">XChange</a>
			<%= link_to "#{current_user.name.camelcase}", user_path(current_user), class: "py-2 d-none d-md-inline-block" %>
			<%= link_to "Users", users_path, class: "py-2 d-none d-md-inline-block" %>
			<%= link_to "Listings", listings_path, class: "py-2 d-none d-md-inline-block" %>
			<%= link_to "Settings", user_settings_path(current_user), class: "py-2 d-none d-md-inline-block" %> 
			<%= link_to "Log Out", logout_path , method: :delete, class: "py-2 d-none d-md-inline-block" %>
		</div>
   	</nav>
<%end%>

<% if !logged_in? %>
	<nav class="xchange-header sticky-top py-1">
		<div class="container d-flex flex-column flex-md-row justify-content-between">
			<a class="navbar-brand" href="#">XChange</a>
			<%= link_to "Log In", login_path, class: "py-2 d-none d-md-inline-block"  %>
		</div>
   	</nav>
<%end%>
