<% if logged_in? %>
	<nav class="xchange-header navbar navbar-expand-md">
		<div class="container">
		<%= link_to "XChange", home_index_path, class: "navbar-brand font-weight-bold logo" %>
		<%# mobile display toggle  %>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-nav" aria-controls="menu-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
		</button>
			<div class="collapse navbar-collapse" id="menu-nav">
				<ul class="navbar-nav">
					<li>
						<%= link_to "#{current_user.name.camelcase}", user_path(current_user), class: "nav-link" %>
					</li>
					<li>
						<%= link_to groups_path, class: "nav-link" do%>
							<i class="material-icons">group</i>
						<%end%>
					</li>
					<li>
						<%= link_to listings_path, class: "nav-link" do%>
							<i class="material-icons">view_list</i>
						<% end %>
					</li>
					<% if current_user.location%>
						<li>
							<%= link_to locations_path, class: "nav-link" do%>
								<i class="material-icons">location_on</i>
							<%end%>
						</li>
					<% else %>
						<li>
							<%= link_to "Update My Location", new_location_path, class: "nav-link" %>
						</li>
					<% end %>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li>
						<%= form_with url: search_users_path, local: true, method: :get, html: {class: "nav-link form-inline"} do |form| %>
							<%= form.text_field :users_q, placeholder: "Search for a user..", data: { behaviour: "autocomplete_users" }, class: "nav-link form-control" %>
						<% end %>	
					</li>
					<li class="nav-item btn-group notification-button" data-behavior="notifications" data-notifications='<%= render template: "notifications/index", formats: [:json] %>'>
							<a class="nav-link" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<i class="tiny material-icons"> notification_important </i>
							</a>
							<div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items"> <!-- Dropdown Itemshere will be placed by the notification-items given by the javascript file in the form of html.erb --></div>
					</li>
					<li>
						<%= link_to user_settings_path(current_user), class: "nav-link" do%>
							<i class="material-icons">settings</i>
						<%end%>
					</li>
					<li>
						<%= link_to logout_path , method: :delete, class: "nav-link" do%>
							<i class="material-icons">exit_to_app</i>
						<%end%>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<%end%>

<% if !logged_in? %>
	<nav class="xchange-header sticky-top navbar navbar-expand-md sticky-top py-3">
		<div class="container">
			<%= link_to "XChange", home_index_path, class: "navbar-brand font-weight-bold logo" %>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menu-nav" aria-controls="menu-nav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
		</button>
			<div class="collapse navbar-collapse" id="menu-nav">
				<ul class="navbar-nav ml-auto">
					<li>
					<%= link_to "Log In", login_path, class: "btn btn-outline-primary mr-2", data: {toggle:"modal", target:"#loginModal"}  %>
					</li>
					<li>
						<%= link_to "Sign Up", new_user_path, class: "btn btn-outline-primary"%>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<%end%>

<!-- Okay so I KNOW that the sessions/new.html.erb rendered a form for login, but I found 
taht in order to get a modal displaying on the home page, the modal content has to be located where
the button to trigger the modal is, so the header. It works great tbh. And can even be custom styled.
If you guys have a problem with the fact that the modal is in the header file, then we can stick to the old way
but we don't have that much time, mind you so just pick one or the other.  - >
 Modal for Login -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Log In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
	  			<%= render 'sessions/form' %>
      </div>
    </div>
  </div>
</div>