<!DOCTYPE html>
<html>
  <head>
    <title>XChange</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application',"https://fonts.googleapis.com/css?family=Open+Sans",
         media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application',"https://fonts.googleapis.com/icon?family=Material+Icons",
         media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <!-- javascript_include_tag('application.js') -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
      <%= render 'layouts/header' %>
      <!-- Enables the use of flash here throughout the repository -->
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>
</html>
