<!DOCTYPE html>
<html>
  <head>
    <title>XChange</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application',"https://fonts.googleapis.com/css?family=Open+Sans",
         media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application',"https://fonts.googleapis.com/icon?family=Material+Icons",
         media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application',"https://fonts.googleapis.com/css?family=Karla",
         media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
    <!-- javascript_include_tag('application.js') -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <%# Render the flash modals. They will stay hidden until the JS in flash triggers the modal to display%>
    <div id="body-container">
      <%= render 'layouts/header' %>
      <!-- Enables the use of flash here throughout the repository -->
      <% if flash.any? %>
        <% flash.each do |message_type, message| %>
          <%# If you would like to render a modal with your message on it, then make sure
          in your controller you write flash[:modal_alert] Modal! %>
          <% if message_type == "borrow_request_sucess" %>
            <%= render 'layouts/success_borrow_request_modal' %>
            <script>
                $('#borrowRequestSuccessModal').modal('show');
            </script>
          <% elsif message_type == "borrow_approve_flash" %>
            <%= render 'layouts/sucess_approve_modal' %>
            <script>
              $('#approveModal').modal('show');
            </script>
          <% elsif message_type == "borrow_success"%>
            <script>
            alert("successfuly marked as borrowed");
            </script>
          <%elsif message_type == "return_success"%>
            <script>
            alert("successfuly marked as returned");
            </script>
          <% else %>
              <div class="alert alert-<%= message_type %>"><%= message %></div>
          <% end %>
        <% end %>
      <%end%>

      <div id="main-body"><%= yield %></div>
      <%= render 'layouts/footer' %>
    </div>
      <% if logged_in? %>
        <%= render 'chatrooms/chatroom_button' %>
      <% end %>
  </body>
</html>
