<!DOCTYPE html>
<html>
  <head>
    <title>XChange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application',"https://fonts.googleapis.com/css?family=Raleway",
         media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application',"https://fonts.googleapis.com/icon?family=Material+Icons",
         media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container-fluid">
      <% if controller.controller_name == "home"%>
        <%= render 'layouts/fixed_header' %>
      <% else %>
        <%= render 'layouts/header' %>
      <% end %>
      <!-- Enables the use of flash here throughout the repository -->
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
